{% extends "informes/base.html" %}
{% load el_pagination_tags %}
{% load thumbnail %}

{% block content %}
<!-- inner page banner -->
<div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-primary bg-pt" style="{% thumbnail object.banner "1350x400" crop="center" as im %}
	background-image:url({{im.url}});
{% empty %} 
	background-image:url(http://via.placeholder.com/1350x500);
{% endthumbnail %}">
	<div class="container">
		<div class="dlab-bnr-inr-entry">
			<h2 class="text-white m-b10">Informes</h2>
			<h5 class="text-white">Proyecto Grano Joven</h5>
			<!-- Breadcrumb row END -->
		</div>
	</div>
</div>
<!-- inner page banner END -->
<!-- contact area -->
<div class="content-block bg-white">
	<!-- Portfolio  -->
	<div class="section-full content-inner-2 portfolio text-uppercase" id="portfolio">

		<div class="site-filters clearfix center  m-b40">
			<ul class="filters" data-toggle="buttons">
				<li class="btn active">
					<input type="radio">
					<a href="#" class="filter-button site-button-secondry radius-sm" data-filter="all"><span>Todos</span></a> 
				</li>
				{% for anio in anios %}
				<li class="btn">
					<input type="radio">
					<a href="#" class="filter-button site-button-secondry radius-sm" data-filter="{{anio}}"><span>{{anio}}</span></a> 
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="clearfix">
			<div class="container-fluid">
				<div class="row">
					{% paginate 12 object_list %}
					{% for informe in object_list|dictsortreversed:"fecha_informe" %}
					<div class="filter all {{informe.fecha_informe|date:"Y"}} col-lg-3 col-md-6 col-sm-6 m-b30" data-wow-delay="0.5s">
						<a href="/media/{{informe.archivo}}" target="_blank">
							<div class="icon-bx-wraper  left bg-gray p-10">
								<div class="icon-sm text-primary m-b20"> <i class="fa fa-file-pdf-o"></i> </div>
								<div class="icon-content">
									<h5 class="dlab-tilte">{{informe.tipo_reporte}}</h5>
									<p class="text-primary">{{informe.inicio|date:"d/m/Y"}} - {{informe.fin|date:"d/m/Y"}}</p>
								</div>
							</div>
						</a>
					</div>
					{% endfor %}
					
					{% show_pages %}
				</div>
			</div>
		</div>
	</div>
</div>
	
{% endblock content %}
{% block extra_js %}
<script src="/static/informes/plugins/filter/filter.js"></script>
{% endblock extra_js %}