{% extends 'admin/base_admin.html' %}

{% block content %}
<div class="main-content prueba">
    <div class="container ">
        <div class="row stickem-container prueba">
        	<section>

                    <div class="blog-details-top mb40">
                        <div class="blog-details-top__text-content">
                        	<h3>Restablecimiento de contraseña completo</h3>
                        	<hr>
                        	<p>Su nueva contraseña ha sido establecida. Puede iniciar sesión ahora en la página de <a href="{% url 'login' %}">inicio de sesión</a>.</p>
  
						</div>
					</div>
			</section>
		</div>
    </div>
</div>
<h1></h1>

{% endblock %}