{% extends 'admin/base_admin.html' %}

{% block content %}
<div class="main-content prueba">
    <div class="container ">
        <div class="row stickem-container prueba">
        	<section>

                    <div class="blog-details-top mb40">
                        <div class="blog-details-top__text-content">
                        	<h3>Revise su bandeja de entrada.</h3>
                        	<hr>
                        	<p>Se han enviado las instrucciones para configurar una nueva contraseña. Usted estará recibiendo el correo en breve.</p>
  
						</div>
					</div>
			</section>
		</div>
    </div>
</div>

{% endblock %}