{% extends 'admin/base_admin.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="main-content prueba">
    <div class="container ">
        <div class="row stickem-container prueba">
        	<section>

                    <div class="blog-details-top mb40">
                        <div class="blog-details-top__text-content">
                        	<h3>Configurar contraseña nueva</h3>
                        	<hr>
                        	<p>Indroduzca su correo electronico, y espere un correo con instrucciones para configurar una nueva contraseña.</p>
				        	<form action="." method="POST" class="form-inline" enctype="multipart/form-data">{% csrf_token %}
								{{form.media}}
								{{form|crispy}}
								<input type="submit" name="Editar" value="Cambiar contraseña">
							</form>
						</div>
					</div>
			</section>
		</div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		
		$( "input, select" ).addClass( "form-control" );
		$( "input[type='submit']" ).removeClass( "form-control" ).addClass( "btn" );
	</script>
{% endblock extra_js %}