{% extends "admin/base_admin.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="main-content prueba">
    <div class="container ">
        <div class="row stickem-container prueba">
        	<section>
                    <div class="blog-details-top mb40">
                        <div class="blog-details-top__text-content">
				        	<form action="." method="POST" class="form-inline" enctype="multipart/form-data">{% csrf_token %}
								{{ form.media }}
								{{form|crispy}}
								<div>
									
									<h4 class="blog-details__title">Redes</h4>
									<hr>
									<div class="row">
									{{ formset.management_form }}

									{% for red in formset %}
										<div class="col-md-4">
											{% if red.errors %}
												{{red.errors}}
											{% endif %}
											
											{{red.id}}
											{{red.opcion}}
											{{red.url}}
											Eliminar: {{red.DELETE}}
										</div>
									{% endfor %}
									</div>
								</div>
								<input type="submit" name="Editar" value="Actualizar">
							</form>
						</div>
					</div>
			</section>

		</div>
    </div>
</div>
{% endblock content %}
{% block extra_js %}
	<script type="text/javascript">
		
		$( "input, select" ).addClass( "form-control" );
		$( "input[type='submit']" ).removeClass( "form-control" ).addClass( "btn" );
	</script>
{% endblock extra_js %}