{% extends "admin/base_admin.html" %}

{% block content %}
<div class="main-content prueba">
    <div class="container ">
        <div class="row stickem-container prueba">
        	<section>

                    <div class="blog-details-top mb40">
                        <div class="blog-details-top__text-content">
				        	<form action="." method="POST" class="form-inline" enctype="multipart/form-data">{% csrf_token %}
								{{form.media}}
								{{form.as_p}}
								<input type="submit" name="Editar" value="Actualizar">
							</form>
						</div>
					</div>
			</section>
    	</div>
	</div>
</div>
{% endblock content %}

{% block extra_head %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock extra_head %}

{% block extra_js %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
	
	$( "input, select" ).addClass( "form-control" );
	$( "input[type='submit']" ).removeClass( "form-control" ).addClass( "btn" );
</script>
<script>
  $( function() {
    $( "#id_apertura" ).datepicker({ dateFormat: 'dd/mm/yy' });
    $( "#id_cierre" ).datepicker({ dateFormat: 'dd/mm/yy' });
    $( "#id_fecha_skype" ).datepicker({ dateFormat: 'dd/mm/yy' });
    $( "#id_memoria" ).datepicker({ dateFormat: 'dd/mm/yy' });
  } );
</script>
{% endblock extra_js %}