{% extends "admin/base_admin.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="main-content prueba">
    <div class="container ">
        <div class="row stickem-container prueba">
        	<section>

                    <div class="blog-details-top mb40">
                        <div class="blog-details-top__text-content">
				        	<form action="." method="POST" class="form-inline" enctype="multipart/form-data">{% csrf_token %}
								{{form.media}}
								{{form|crispy}}

								<h4 class="blog-details__title">Imagenes</h4>
									<hr>
									<div class="row">
									{{ formset.management_form }}

									{% for img in formset %}
										<div class="col-md-4">
											{% if img.errors %}
												{{img.errors}}
											{% endif %}
											
											{{img.id}}
											{{img.nombre}}
											{{img.imagen}}
											Eliminar: {{img.DELETE}}
										</div>
									{% endfor %}
									</div>
								<input type="submit" name="Guardar" value="Guardar">
							</form>
						</div>
					</div>
			</section>
		</div>
    </div>
</div>
{% endblock content %}
{% block extra_js %}
	<script type="text/javascript">
		
		$( "input, select" ).addClass( "form-control" );
		$( "input[type='submit']" ).removeClass( "form-control" ).addClass( "btn" );
	</script>
{% endblock extra_js %}