{% extends "admin/base_admin.html" %}

{% block content %}
<div class="main-content">
    <div class="container ">
        
        <div class="row">
            <div class="col-md-12">
                <section>
                    <div class="blog-details-top mb40">
                        <div class="tabbable-panel">
                            <div class="tabbable-line">
                                <ul class="nav nav-tabs ">
                                    <li class="active">
                                        <a href="#tab_default_1" data-toggle="tab">
                                        <i class="fa fa-file-picture-o"></i> Galeria de imagenes </a>
                                    </li>
                                    <li>
                                        <a href="#tab_default_2" data-toggle="tab">
                                        <i class="fa fa-file-video-o"></i> Videos </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_default_1">
                                        <div class="blog-details-top__text-content">
                                            <a href="/contrapartes/galerias/imagenes/nueva/" class="btn special-btn"><span class="fa fa-pencil base-color "></span> Nueva</a>
                                            <h3 class="blog-details__title ">Galerias de Imagenes</h3>
                                            <hr>                               
                                            <div class="table-responsive">
                                                <table class="table table-hover" id="example2"  style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Titulo</th>
                                                            <th>Tematica</th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for object in object_list_img %}
                                                        <tr>
                                                            <td>{{object.titulo}}</td>
                                                            <td>{{object.tematica}}</td>
                                                            <td>
                                                                <a href="{% url 'editar-galeria-img' object.id %}" class="btn btn-success btn-small-special"><span class="fa fa-pencil  "></span></a>
                                                            </td>
                                                            <td>
                                                                <a data-toggle="modal" href='#modal-id-{{object.id}}' class="btn btn-danger btn-small-special"><span class="fa fa-trash  "></span></a>
                                                            </td>
                                                        </tr>
                                                        <div class="modal fade" id="modal-id-{{object.id}}">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                        <h4 class="modal-title">Eliminar galeria</h4>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        La galeria "{{object.titulo}}" se eliminara permanentemente.
                                                                        ¿Esta seguro que desea eliminar la galeria?
                                                                    </div>
                                                                    <div class="modal-footer">

                                                                        <a type="button" class="btn btn-danger" href="{% url 'eliminar-galeria-img' object.id %}">Eliminar</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab_default_2">
                                        <div class="blog-details-top__text-content">
                                            <a href="/contrapartes/galerias/videos/nuevo/" class="btn special-btn"><span class="fa fa-pencil base-color "></span> Nueva</a>
                                            <h3 class="blog-details__title ">Galerias de Videos</h3>
                                            <hr>                               
                                            <div class="table-responsive">
                                                <table class="table table-hover" id="example2"  style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Titulo</th>
                                                            <th>Tematica</th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for object in object_list_vid %}
                                                        <tr>
                                                            <td>{{object.titulo}}</td>
                                                            <td>{{object.tematica}}</td>
                                                            <td>
                                                                <a href="{% url 'editar-video' object.id %}" class="btn btn-success btn-small-special"><span class="fa fa-pencil  "></span></a>
                                                            </td>
                                                            <td>
                                                                <a data-toggle="modal" href='#modal-id-{{object.id}}-vid' class="btn btn-danger btn-small-special"><span class="fa fa-trash  "></span></a>
                                                            </td>
                                                        </tr>
                                                        <div class="modal fade" id="modal-id-{{object.id}}-vid">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                        <h4 class="modal-title">Eliminar video</h4>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        El video "{{object.titulo}}" se eliminara permanentemente.
                                                                        ¿Esta seguro que desea eliminar el video?
                                                                    </div>
                                                                    <div class="modal-footer">

                                                                        <a type="button" class="btn btn-danger" href="{% url 'eliminar-video' object.id %}">Eliminar</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>	
{% endblock content %}