{% extends "admin/base_admin.html" %}
{% load el_pagination_tags %}

{% block content %}
<style type="text/css">
.fund-pagination span {
    height: 40px;
    display: inline-block;
    width: 40px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 100%;
    color: #1e3042;
    margin-right: 15px;
}
</style>
<div class="main-content">
        <div class="container ">
            <div class="row">
                <div class="col-md-3" >
                <aside class="sidebar">
                    <div class="widget widget--category">
                        <div class="widget__heading">
                            <a class="btn btn-info btn-small-special pull-right" href="/contrapartes/foros/agregar/">Nuevo foro</a>
                            <h4 class="widget__title">MI FOROS</h4>
                        </div>
                        <div class="widget__text-content">
                            <ul>
                                {% for mi_foro in mis_foros %}
                                    <li>
                                        <a class="base-color" href="{% url 'editar-foro' mi_foro.id %}">{{mi_foro.nombre}}</a><br>
                                        <a class="btn btn-success btn-small-special" data-toggle="modal"  href="{% url 'editar-foro' mi_foro.id %}">Editar</a>
                                        <a class="btn btn-danger btn-small-special" data-toggle="modal"  href="#modal-id-falta">Eliminar</a>
                                    </li>
                                    <div class="modal fade" id="modal-id-falta">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title">Eliminar foro</h4>
                                                </div>
                                                <div class="modal-body">
                                                    El foro "{{mi_foro.nombre}}" se eliminara permanentemente.
                                                    ¿Esta seguro que desea eliminar el foro?
                                                </div>
                                                <div class="modal-footer">

                                                    <a type="button" class="btn btn-danger" href="{% url 'eliminar-foro' mi_foro.id %}">Eliminar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </ul>
                           

                        </div>
                    </div>
                    
                </aside>    
            </div>
                <div class="col-md-9">
                    <section>
                    	{% paginate 3 object_list %}
                    	{% for foro in object_list %}
                        <div class="blog-details-top mb40">
                            <div class="blog-details-top__text-content">
                                    {% if current_date|date:'d/F/o' <= foro.cierre|date:'d/F/o' and  current_date|date:'d/F/o' >= foro.apertura|date:'d/F/o' %}
                                        <span class="label label-info pull-right">Activo</span>
                                        {% else %}
                                        <span class="label label-danger pull-right">Inactivo</span>
                                    {% endif %} 
                                <h3 class="blog-details__title"><a href="{% url 'ver-foro' foro.id %}">{{foro.nombre}}</a></h3>

                                
                                <hr>
                                <p>{{foro.contenido|safe|truncatewords:'70'}}</p>

                                <div class="blog-details-top__text-content">
                                    <div class="blog-details__meta">
                                        <!--<div class="blog-details__meta-item"><i class="fa fa-building pdr5"></i></div>-->
                                        <div class="blog-details__meta-item base-color"><i class="fa fa-hourglass-end pdr5"></i> <b>Apertura:</b> {{foro.apertura|date:'d/F/o'}}</div>
                                        <div class="blog-details__meta-item base-color"><i class="fa fa-hourglass-end pdr5"></i><b>Cierre:</b> {{foro.cierre|date:'d/F/o'}}</div>
                                        
                                    </div>
                                    <br>
                                    <div class="blog-details__meta">
                                        <!--<div class="blog-details__meta-item"><i class="fa fa-building pdr5"></i></div>-->
                                        
                                        <div class="blog-details__meta-item"><i class="fa fa-skype pdr5"></i><b>Reunión skype:</b> {{foro.fecha_skype|date:'d/F/o'}}</div>
                                        
                                        <div class="blog-details__meta-item"><i class="fa fa-comments-o pdr5"></i><b>Aportes:</b> {{foro.aportes_set.all.count}}</div>
                                        <div class="blog-details__meta-item"><i class="fa fa-file-text-o pdr5"></i><b>Memoria:</b> {{foro.memoria|date:'d/F/o'}}</div>
                                        
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                        {% endfor %}
                        <div class="fund-pagination mb30">
                            {% show_pages %}
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}