{% extends "admin/base_admin.html" %}
{% load el_pagination_tags %}

{% block content %}
<style type="text/css">
.fund-pagination span {
    height: 40px;
    display: inline-block;
    width: 40px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 100%;
    color: #1e3042;
    margin-right: 15px;
}
</style>
<div class="main-content">
        <div class="container ">
            <div class="row">
            	<div class="col-md-3">
            		<h3>Mis foros</h3>
            		<ul>
            		{% for mi_foro in mis_foros %}
            			<li>{{mi_foro.nombre}} <a href="{% url 'editar-foro' mi_foro.id %}">Editar</a> <a href="{% url 'eliminar-foro' mi_foro.id %}">Eliminar</a></li>
            		{% endfor %}
            		</ul>
            		<a href="/contrapartes/foros/agregar/">Nuevo foro</a>
            	</div>
                <div class="col-md-9">
                    <section>
                    	{% paginate 3 object_list %}
                    	{% for foro in object_list %}
                        <div class="blog-details-top mb40">
                            <div class="blog-details-top__text-content">
                                <h3 class="blog-details__title"><a href="{% url 'ver-foro' foro.id %}">{{foro.nombre}}</a></h3>

                                {% now 'd/F/o' as current_date %}
	                                {% if current_date <= foro.cierre|date:'d/F/o' and  current_date >= foro.apertura|date:'d/F/o' %}
	                                	Activo 
	                                	{% else %}
	                                	Inactivo
                                	{% endif %} 
                                <hr>
                                <p>{{foro.contenido|safe|truncatewords:'70'}}</p>

                                <div class="blog-details-top__text-content">
                                    <div class="blog-details__meta">
                                        <!--<div class="blog-details__meta-item"><i class="fa fa-building pdr5"></i></div>-->
                                        <div class="blog-details__meta-item base-color"><i class="fa fa-hourglass-end pdr5"></i>Apertura: {{foro.apertura|date:'d/F/o'}}</div>
                                        <div class="blog-details__meta-item base-color"><i class="fa fa-hourglass-end pdr5"></i>Cierre: {{foro.cierre|date:'d/F/o'}}</div>
                                        <div class="blog-details__meta-item"><i class="fa fa-skype pdr5"></i>Reunión skype: {{foro.fecha_skype|date:'d/F/o'}}</div>
                                        
                                        <div class="blog-details__meta-item"><i class="fa fa-comments-o pdr5"></i>{{foro.aportes_set.all.count}}</div>
                                        <div class="blog-details__meta-item"><i class="fa fa-file-text-o pdr5"></i>Memoria: {{foro.memoria|date:'d/F/o'}}</div>
                                        
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                        {% endfor %}
                        <div class="fund-pagination mb30">
                            {% show_pages %}
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}