{% extends "admin/base_admin.html" %}
{% load thumbnail %}

{% block content %}
<div class="main-content ">
    <div class="container">
    	<div class="row">
            <div class="col-md-12">
                <section>
                    <div class="blog-details-top mb40">
                        <div class="blog-details-top__text-content">
                            <a href="/contrapartes/publicaciones/agregar/" class="btn special-btn"><span class="fa fa-pencil base-color "></span> Nueva publicación</a>
                            <h3 class="blog-details__title ">Publicaciones</h3>
                            <hr>                               
                            <div class="table-responsive">
                                <table class="table table-hover" id="example2"  style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Publicación</th>
                                            <th>Usuario</th>
                                            <th>Descarga</th>
                                            
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	{% for publicacion in object_list %}
                                		<tr>
                                            <td>{{publicacion.titulo}}</td>
                                            <td>falta</td>
                                            <td>
                                            	 <a href="" class="btn btn-info btn-small-special"><span class="fa fa-download"></span></a>
                                            </td>
                                            
                                            <td>
                                                <a href="{% url 'editar-publicacion' publicacion.id %}" class="btn btn-success btn-small-special"><span class="fa fa-pencil  "></span></a>
                                            </td>
                                            <td>
                                                <a data-toggle="modal" href='#modal-id-{{object.id}}' class="btn btn-danger btn-small-special"><span class="fa fa-trash  "></span></a>
                                            </td>
                                        </tr>
                                        <div class="modal fade" id="modal-id-{{object.id}}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title">Eliminar evento</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        El evento "{{object.evento}}" se eliminara permanentemente.
                                                        ¿Esta seguro que desea eliminar el evento?
                                                    </div>
                                                    <div class="modal-footer">

                                                        <a type="button" class="btn btn-danger" href="{% url 'eliminar-publicacion' publicacion.id %">Eliminar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    	{% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>


        </div>
	</div>
</div>

{% endblock content %}