{% extends "admin/base_admin.html" %}

{% block content %}
<div class="main-content prueba">
    <div class="container ">
        <div class="row stickem-container prueba">
        	<section>

                    <div class="blog-details-top mb40">
                        <div class="blog-details-top__text-content">
				        	<form action="." method="POST" class="form-inline" enctype="multipart/form-data">{% csrf_token %}
								{{form.media}}
								{{form.as_p}}

								<h4 class="blog-details__title">Agenda</h4>
				                  <hr>
				                  <div class="row">
				                  {{ formset.management_form }}
				                  {% for agenda in formset %}
				                    <div class="col-md-6">
				                      {% if agenda.errors %}
				                        {{agenda.errors}}
				                      {% endif %}
				                      
				                      {{agenda.id}}
				                      Actividad: {{agenda.actividad}}
				                      Hora inicio: {{agenda.hora_inicio}}
				                      Hora fin: {{agenda.hora_fin}}
				                      Descripción: {{agenda.descripcion}}
				                      Eliminar: {{agenda.DELETE}}
				                    </div>
				                  {% endfor %}
				                  </div>
								<input type="submit" name="Guardar" value="Guardar">
							</form>
						</div>
					</div>
			</section>
		</div>
    </div>
</div>
{% endblock content %}
{% block extra_js %}
	<script type="text/javascript">
		
		$( "input, select" ).addClass( "form-control" );
		$( "input[type='submit']" ).removeClass( "form-control" ).addClass( "btn" );
	</script>
{% endblock extra_js %}