{% extends "admin/base_admin.html" %}

{% block content %}
<div class="main-content prueba">
    <div class="container ">
        <div class="row stickem-container prueba">
        	<section>

                    <div class="blog-details-top mb40">
                    <div class="blog-details-top__text-content">
                        <form action="." method="POST" class="form-inline" enctype="multipart/form-data">{% csrf_token %}
                            {{form.media}}
                            {{form.as_p}}

                            <h4 class="blog-details__title">Agenda</h4>
                            <hr>
                            <div class="row">
                                {{ formset.management_form }}
                                {% for agenda in formset %}
                                <div class="col-sm-12 col-md-6 form-group">
                                    {% if agenda.errors %}
                                    {{agenda.errors}}
                                    {% endif %}

                                    {{agenda.id}}
                                    <label>Actividad:</label> {{agenda.actividad}}
                                    <label>Hora inicio:</label> {{agenda.hora_inicio}}
                                    <br>
                                    <br>
                                    <label>Hora fin:</label> {{agenda.hora_fin}}
                                    <label>Descripción:</label> {{agenda.descripcion}}
                                    <label>Eliminar:</label> {{agenda.DELETE}}
                                    <hr>
                                </div>
                                {% endfor %}
                            </div>

                            <h4 class="blog-details__title">Agenda</h4>
                            <hr>
                            <div class="row">
                                {{ formset2.management_form }}
                                {{formset2.media}}
                                {% for doc in formset2 %}
                                <div class="col-md-4 form-group">
                                    {{doc.id}}
                                    <label>Nombre:</label> {{doc.nombre_doc}}
                                    <br>
                                    <label>Documento:</label> {{doc.adjunto}}
                                    <br>
                                    <hr>
                                </div>
                                {% endfor %}
                            </div>
                            <input type="submit" name="Agregar" value="Agregar">
                        </form>
                    </div>
                </div>
			</section>
		</div>
    </div>
</div>
{% endblock content %}

{% block extra_head %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/static/css/jquery.timepicker.min.css">
{% endblock extra_head %}

{% block extra_js %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/static/js/jquery.timepicker.min.js"></script>

<script type="text/javascript">
	
	$( "input, select" ).addClass( "form-control" );
	$( "input[type='submit']" ).removeClass( "form-control" ).addClass( "btn" );
</script>

<script>
  $( function() {
    $( "#id_inicio" ).datepicker({ dateFormat: 'dd/mm/yy' });
    $('#id_hora_inicio').timepicker({ 'timeFormat': 'H:i:s' });
    $('#id_hora_fin').timepicker({ 'timeFormat': 'H:i:s' });

    for (var i=0; i<=11; i++) {
    	$('#id_agendaevento_set-'+i+'-hora_inicio').timepicker({ 'timeFormat': 'H:i:s' });
	    $('#id_agendaevento_set-'+i+'-hora_fin').timepicker({ 'timeFormat': 'H:i:s' });
	}

  } );
</script>
{% endblock extra_js %}