{% extends "admin/base_admin.html" %}

{% block content %}
<div class="main-content prueba">
    <div class="container ">
        <div class="row stickem-container prueba">
        	<section>
                    <div class="blog-details-top mb40">
                        <div class="blog-details-top__text-content">
                                <h3 class="blog-details__title">{{discusion.nombre}}</h3>
                                <hr>
                                <p>{{discusion.contenido|safe}}</p>

                                <div class="blog-details-top__text-content">
                                    <div class="blog-details__meta">
                                        <!--<div class="blog-details__meta-item"><i class="fa fa-building pdr5"></i></div>-->
                                        <div class="blog-details__meta-item base-color"><i class="fa fa-hourglass-end pdr5"></i>Apertura: {{discusion.apertura|date:'d/F/o'}}</div>
                                        <div class="blog-details__meta-item base-color"><i class="fa fa-hourglass-end pdr5"></i>Cierre: {{discusion.cierre|date:'d/F/o'}}</div>
                                        <div class="blog-details__meta-item"><i class="fa fa-skype pdr5"></i>Reunión skype: {{discusion.fecha_skype|date:'d/F/o'}}</div>
                                        
                                        <div class="blog-details__meta-item"><i class="fa fa-comments-o pdr5"></i>{{discusion.aportes_set.all.count}}</div>
                                        <div class="blog-details__meta-item"><i class="fa fa-file-text-o pdr5"></i>Memoria: {{discusion.memoria|date:'d/F/o'}}</div>
                            	</div>
                        	</div>	
                        </div>
					</div>
			</section>
			<seccion>
				<div class="comments-wrap pdt50 mt45">
                    <h3 class="comments-title">{{discusion.aportes_set.all.count}} APORTES</h3>
                    <hr>
                    {% for aporte in aportes %}
                    	<div class="single-comment-wrap">
	                        <div class="single-comment">
	                            <div class="single-comment__image">
	                                <img src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/4_avatar-128.png" class="img-circle" alt="" width="60px">
	                            </div>
	                            <div class="single-comment__text-content">
	                                <h4 class="single-comment__name">{{aporte.user.get_full_name|default:aporte.user.username}}</h4>
	                                <a data-toggle="modal" href='#modal-id' class="single-comment__reply-button base-color">Comentar</a>
	                                <em class="single-comment__time-ago"> {{aporte.fecha}}</em>
	                                <p>{{aporte.contenido|safe}}</p>
	                                <div>
		                            	{% if request.user == discusion.contraparte %}
											<a class="btn btn-success btn-small-special" href="{% url 'editar-aporte' aporte.id %}"><i class="fa fa-pencil"></i></a>
											<a class="btn btn-danger btn-small-special" href="{% url 'eliminar-aporte' aporte.id %}"><i class="fa fa-trash"></i></a>
										{% endif %}
		                            </div>
		                            <br>
	                            </div>
	                            
	                        </div>
							{% for coment in aporte.comentarios_set.all %}
								<div class="single-comment-wrap">
		                            <div class="single-comment">
		                                <div class="single-comment__image">
		                                    <img src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/4_avatar-128.png" class="img-circle" alt="" width="60px">
		                                </div>
		                                <div class="single-comment__text-content">
		                                    <h4 class="single-comment__name">{{coment.usuario.get_full_name|default:coment.usuario.username}}</h4>
		                                    <!-- <a href="#" class="single-comment__reply-button base-color">Responder</a> -->
		                                    <em class="single-comment__time-ago">{{coment.fecha}}</em>
		                                    <p>{{coment.comentario|safe}}</p>
		                                </div>
		                            </div>
		                        </div>
							{% endfor %}
	                    </div><!--/.single-comment-wrap-->
                    {% endfor %}
                </div>
                <div class="leave-comment pdt50 mt20 mb30">
                	{% now 'd/F/o' as current_date %}
					{% if current_date <= discusion.cierre|date:'d/F/o' and  current_date >= discusion.apertura|date:'d/F/o' %}
                    <h3 class="leave-comment__title text-uppercase">Nuevo aporte</h3>
					<form action="." method="POST" class="form-inline" enctype="multipart/form-data">{% csrf_token %}
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								{{form.media}}
								{{form.contenido}}
							</div>
							
						</div>
						<input type="submit" class="btn" name="Guardar" value="Guardar">
					</form>
                </div>
			</seccion>	
        	{% endif %} 
			
		</div>
    </div>
</div>

<div class="modal fade" id="modal-id">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Comentar</h4>
			</div>
			<div class="modal-body">
				aqui va el ck editor
			</div>
			<div class="modal-footer">
				
				<button type="button" class="btn btn-primary">Comentar</button>
			</div>
		</div>
	</div>
</div>
{% endblock content %}