{% extends "base.html" %}
{% load thumbnail %}
{% load embed_video_tags %}
{% load disqus_tags %}
{% set_disqus_identifier object.id %}

{% block extr_head %}
<meta property="og:title" content="{{nota.titulo}}" />
<meta property="og:type" content="article" />
{% if nota.foto %}
    <meta property="og:image" content="http://cluster-nicaragua.net/media/{{nota.foto}}">
{% elif nota.video %}
    {% video nota.video as video %}
        <meta property="og:image" content="{{video.thumbnail}}">
    {% endvideo %}
{% endif %}

<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta property="og:description" content="{{nota.contenido|striptags}}" />
<meta property="og:url" content="http://cluster-nicaragua.net{{request.path}}" />
<meta property="og:locale" content="es_ES" />

<!-- twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{nota.titulo|truncatechars:70}}">
<meta name="twitter:description" content="{{nota.contenido|striptags|truncatechars:200}}">
{% if nota.foto %}
    <meta name="twitter:image" content="http://cluster-nicaragua.net/media/{{nota.foto}}">
{% elif nota.video %}
    {% video nota.video as video %}
        <meta property="twitter:image" content="{{video.thumbnail}}">
    {% endvideo %}
{% endif %}
<meta name="twitter:domain" content="http://cluster-nicaragua.net">
{% endblock extr_head %}

{% block content %}
<div class="banner-area banner-area--blog all-text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">ÚLTIMAS NOTICIAS</h1>
                <ul class="fund-breadcumb">
                    <li><a href="/">Inicio</a> </li>
                    <li><a href="/notas/">Últimas noticias</a> </li>
                    <li class="active">Noticia</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="main-content section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-details">
                    <div class="blog-details-top mb40">
                        <div class="blog-details-image mb10">
                            {% if nota.tipo == 1 %}
                            {% thumbnail nota.foto "640x480" crop="center" as im %}
                                <img src="{{im.url}}" alt="blog" width="100%">  
                            {% empty %}   
                              <img src="http://via.placeholder.com/640x480" alt="blog details" width="100%">
                            {% endthumbnail %}
                          {% elif nota.tipo == 2 %}
                            {% video nota.video as my_video %}
                                {% video my_video '750x485' %}
                            {% endvideo %}
                          {% endif %}
                        </div>
                        <div class="blog-details-top__text-content">
                            <h3 class="blog-details__title">{{nota.titulo}}</h3>
                            <ul class="list-inline">
                                <li class="blog-details__meta-item base-color"><i class="fa fa-calendar pdr5"></i>{{nota.fecha}}</li>
                                <li class="blog-details__meta-item"><i class="fa fa-building pdr5"></i>{{nota.user.userprofile.contraparte.siglas}}</li>
                                <li class="blog-details__meta-item"><i class="fa fa-user pdr5"></i>{{nota.user}}</li>
                                <li class="blog-details__meta-item"><i class="fa fa-comments-o pdr5"></i><a href="{{ object.get_absolute_url }}#disqus_thread" data-disqus-identifier="{{ object.id }}"></a>
                                {% disqus_num_replies %}</li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="texto_nota">
                        {{nota.contenido|safe}}
                    </div>
                    

                    <!--<h3>Imagenes</h3>
                    {% for img in nota.fotos.all %}
                        {% thumbnail img.foto "280x150" crop="center" as im %}
                            <img src="{{im.url}}" alt="blog" >  
                        {% endthumbnail %}
                    {% endfor %}
                    <br>
                    <h3>Adjuntos</h3>
                    {% for doc in nota.adjuntos.all %}
                        <p><a href="/media/{{doc.adjunto}}">{{doc.nombre_doc}}</a></p>
                    {% endfor %}-->

                    <br/><br/>
                    
                    <div class="social-icons ">
                        <span>Compartir : </span>
                        <ul class="list-inline pdl20">
                            <li><a href="http://www.facebook.com/sharer.php?u=http://cluster-nicaragua.net{{request.path}}" target="_blank"><i class="fa fa-facebook"></i> </a> </li>
                            <li><a href="http://twitter.com/intent/tweet?url=http://cluster-nicaragua.net{{request.path}}&amp;text={{nota.titulo}}" target="_blank"><i class="fa fa-twitter"></i> </a> </li>
                            <li><a href="https://plus.google.com/share?url=http://cluster-nicaragua.net{{request.path}}" target="_blank"><i class="fa fa-google-plus"></i> </a> </li>

                        </ul>
                    </div>
                    
                    <div class="leave-comment pdt50 mt20 mb30">
                        <h3 class="leave-comment__title text-uppercase">Comentar Noticias</h3>

                        {% disqus_show_comments %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <aside class="sidebar">
                    <form class="search-form widget" action='/notas/' method='GET'>
                        <input type="search" placeholder="Buscar" name="buscar" class="form-control search-form__input" {% if q %}value="{{q}}"{% endif %} />
                        <button type="submit" class="search-form__submit"><i class="fa fa-search base-color"></i> </button>
                    </form>
                    <div class="widget">
                        <div class="widget__heading">
                            <h4 class="widget__title">PRÓXIMOS <span class="base-color">EVENTOS</span></h4>
                        </div>
                        <div class="widget__text-content">
                            <div class="upcomming-event-carousel" id="upcomming-event-carousel">
                                {% for evento in dic_eventos.keys %}
                                    <div class="upcomming-event-carousel__item">
                                    <div class="image text-center">
                                        <a href="{% url 'agenda-detail' evento.slug %}">
                                            {% thumbnail evento.foto "380x250" crop="center" as im %}
                                            <img class="widget-latest-causes__thubnail" src="{{im.url}}" alt="up">
                                            {% empty %}
                                            <img class="widget-latest-causes__thubnail" src="http://via.placeholder.com/380x250" alt="">
                                            {% endthumbnail %}
                                        <h4 class="upcomming-event-carousel__title">{{evento.evento}}</h4></a>

                                    </div>
                                    <div class="event-counter">
                                        <!--<div id="event-counter-{{forloop.counter}}" class="musica-counter-active" data-value-year="{{evento.inicio|date:"o"}}" data-value-month="{{evento.inicio|date:"n"}}" data-value-day="{{evento.inicio|date:"j"}}" data-value-zone="+10" ></div>-->
                                        <div  class="" >
                                            <span class="countdown-row countdown-show4 " id="prox-eventos-{{forloop.counter}}">
                                                <span class="countdown-section"><span class="countdown-amount days">0</span><span class="countdown-period">Días</span></span>
                                                <span class="countdown-section"><span class="countdown-amount hours">0</span><span class="countdown-period">horas</span></span>
                                                <span class="countdown-section"><span class="countdown-amount minutes">0</span><span class="countdown-period">minutos</span></span>
                                                <span class="countdown-section"><span class="countdown-amount seconds">0</span><span class="countdown-period">segundos</span></span>
                                            </span>
                                        </div>
                                    </div>
                                </div><!--/.upcomming-event-carousel__item-->
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="widget widget--category">
                        <div class="widget__heading">
                            <h4 class="widget__title">TEMAS</h4>
                        </div>
                        <div class="widget__text-content">
                            <ul>
                                {% for x,y in dic_temas.items %}
                                    <li><a href="{% url "filtro-temas" x %}" class="pdr10">{{x}}</a><span class="post-count">{{y}}</span></li>
                                {% endfor %}
                                
                            </ul>

                        </div>
                    </div>
                    
                    <div class="widget">
                        <div class="widget__heading">
                            <h4 class="widget__title">ÚLTIMAS <span class="base-color">NOTICIAS</span></h4>
                        </div>
                        <div class="widget__text-content">
                            {% for ultima_nota in ultimas_notas %}
                            <div class="widget-latest-causes">
                                <div class="widget-latest-causes__image-wrap">
                                    <a href="{% url "detalle-notas" ultima_nota.slug %}">
                                        {% if ultima_nota.tipo == 1 %}
                                            {% thumbnail ultima_nota.foto "380x250" crop="center" as im %}
                                                <img src="{{im.url}}" class="widget-latest-causes__thubnail" alt="">  
                                            {% empty %}   
                                              <img src="http://via.placeholder.com/380x250" class="widget-latest-causes__thubnail" alt="">
                                            {% endthumbnail %}
                                          {% elif ultima_nota.tipo == 2 %}
                                            {% video ultima_nota.video as my_video %}
                                                {% thumbnail my_video.thumbnail "380x250" crop="center" as im %}
                                                  <img src="{{im.url}}" class="widget-latest-causes__thubnail" alt="">  
                                                {% empty %}   
                                                  <img src="http://via.placeholder.com/380x250" class="widget-latest-causes__thubnail" alt="">
                                                {% endthumbnail %}
                                            {% endvideo %}
                                          {% endif %}
                                    </a>
                                </div>
                                <div class="widget-latest-causes__text-content">
                                    <h4 class="widget-latest-causes__title"><a href="{% url "detalle-notas" ultima_nota.slug %}">{{ultima_nota.titulo}}</a></h4>
                                    <div class="widget-latest-causes__admin small-text">
                                        <i class="base-color fa fa-user widget-latest-causes__admin-icon"></i>
                                        <a href="#">{{ultima_nota.user.userprofile.contraparte.siglas}}</a>
                                    </div>
                                    <div class="widget-latest-causes__time text-mute">
                                        <span class="small-text"><i class="fa fa-calendar base-color"></i> {{ultima_nota.fecha}}</span>

                                    </div>
                                </div>
                            </div><!--/.widget-latest-causes-->
                            {% endfor %}
                        </div>
                    </div>
                    <div class="widget widget--tags">
                        <div class="widget__heading">
                            <h4 class="widget__title">TAG</h4>
                        </div>
                        <div class="widget__text-content"> 
                            {% for tag in nota.tags.all %}
                                <a href="#">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
   
{% endblock content %}

{% block extra_js %}
{% for v in dic_eventos.values %}
<script type="text/javascript">
    var timer{{forloop.counter}} = new Timer();
    timer{{forloop.counter}}.start({countdown: true, startValues: {days: {{v.0}},hours: {{v.1}}}, precision: 'seconds'});
    timer{{forloop.counter}}.addEventListener('secondsUpdated', function (e) {
        $('#prox-eventos-{{forloop.counter}} .days').html(timer{{forloop.counter}}.getTimeValues().days);
        $('#prox-eventos-{{forloop.counter}} .hours').html(timer{{forloop.counter}}.getTimeValues().hours);
        $('#prox-eventos-{{forloop.counter}} .minutes').html(timer{{forloop.counter}}.getTimeValues().minutes);
        $('#prox-eventos-{{forloop.counter}} .seconds').html(timer{{forloop.counter}}.getTimeValues().seconds);
    });
</script>
<script type="text/javascript">
    $(".texto_nota ul").addClass( "fund-arrow-left-list" );
</script>
{% endfor %}
{% endblock extra_js %}