{% extends "base.html" %}
{% load thumbnail %}
{% load el_pagination_tags %}

{% block content %}
<style type="text/css">
.fund-pagination span {
    height: 40px;
    display: inline-block;
    width: 40px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 100%;
    color: #1e3042;
    margin-right: 15px;
}
</style>
<div class="banner-area banner-area--blog all-text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">ÚLTIMAS NOTICIAS</h1>
                <ul class="fund-breadcumb">
                    <li><a href="index.html">Inicio</a> </li>
                    <li><a href="blog.html">Últimas noticias</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="main-content section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row row-eq-rs-height">
                    {% paginate 6 notas_list %}
                    {% for nota in notas_list %}
                        <div class="col-sm-6 col-xs-12">
                        <div class="blog-post">
                            <div class="blog-post__thumbnail-wrap">
                                {% thumbnail nota.foto "380x250" crop="center" as im %}
                                    <img class="widget-latest-causes__thubnail" src="{{im.url}}" alt="">
                                {% empty %}
                                <img class="widget-latest-causes__thubnail" src="http://via.placeholder.com/380x250" alt="">
                                {% endthumbnail %}
                                <div class="blog-post__like-comment">
                                    <span><i class="fa fa-comments"></i>22 Comentarios</span>
                                    <span>|</span>
                                    <span><i class="fa fa-eye"></i>105 Vistas</span>
                                </div>
                            </div>
                            <div class="blog-post__text-content">
                                <h4 class="blog-post__title heading-label-four"><a href="{% url "detalle-notas" nota.slug %}">{{nota.titulo}}</a></h4>
                                <div class="blog-post__meta-info">
                                    <span class="small-text"><i class="fa fa-user base-color"></i>{{nota.user.userprofile.contraparte.siglas}}</span>
                                    <span class="small-text"><i class="fa fa-calendar base-color"></i>{{nota.fecha}}</span>
                                </div>
                                <p>{{nota.contenido|safe|truncatewords:20}}</p>
                                <a href="{% url "detalle-notas" nota.slug %}" class="btn">Leer más</a>
                            </div>
                        </div><!--/.blog-post-->
                    </div>
                    {% endfor %}
                </div>
                <div class="fund-pagination mb30">
                    {% show_pages %}
                    <!--<a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#" class="next">Siguiente</a>-->
                </div>
            </div>
            <div class="col-md-4">
                <aside class="sidebar">
                    <form class="search-form widget">
                        <input type="search" placeholder="Buscar" class="form-control search-form__input" />
                        <button type="submit" class="search-form__submit"><i class="fa fa-search base-color"></i> </button>
                    </form>
                    <div class="widget">
                        <div class="widget__heading">
                            <h4 class="widget__title">PRÓXIMOS <span class="base-color">EVENTOS</span></h4>
                        </div>
                        <div class="widget__text-content">
                            <div class="upcomming-event-carousel" id="upcomming-event-carousel">
                                {% for evento in eventos %}
                                    <div class="upcomming-event-carousel__item">
                                    <div class="image text-center">
                                        <a href="#">
                                            {% thumbnail evento.foto "380x250" crop="center" as im %}
                                            <img class="widget-latest-causes__thubnail" src="{{im.url}}" alt="up">
                                            {% empty %}
                                            <img class="widget-latest-causes__thubnail" src="http://via.placeholder.com/380x250" alt="">
                                            {% endthumbnail %}
                                        <h4 class="upcomming-event-carousel__title">{{evento.evento}}</h4></a>

                                    </div>
                                    <div class="event-counter">
                                        <div id="event-counter-{{forloop.counter}}" class="musica-counter-active" data-value-year="{{evento.inicio|date:"o"}}" data-value-month="{{evento.inicio|date:"n"}}" data-value-day="{{evento.inicio|date:"j"}}" data-value-zone="+10" ></div>
                                    </div>
                                </div><!--/.upcomming-event-carousel__item-->
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="widget widget--category">
                        <div class="widget__heading">
                            <h4 class="widget__title">TEMAS</h4>
                        </div>
                        <div class="widget__text-content">
                            <ul>
                                <li><a href="#" class="pdr10">Cambio climatico</a><span class="post-count">4</span></li>
                                <li><a href="#" class="pdr10">Economia Solidaria</a><span class="post-count">7</span></li>
                                <li><a href="#" class="pdr10">Educación</a><span class="post-count">5</span></li>
                                <li><a href="#" class="pdr10">Medios de vida</a><span class="post-count">3</span></li>
                                <li><a href="#" class="pdr10">Minería</a><span class="post-count">2</span></li>
                                <li><a href="#" class="pdr10">Promotoria rural </a><span class="post-count">2</span></li>
                            </ul>

                        </div>
                    </div>
                    <!--<div class="widget widget--tags">
                        <div class="widget__heading">
                            <h4 class="widget__title">TAG</h4>
                        </div>
                        <div class="widget__text-content">
                            <a href="#">acciones</a>
                            <a href="#">agricultura</a>
                            <a href="#">agua</a>
                            <a href="#">cambio climatico</a>
                            <a href="#">clima</a>
                            <a href="#">cultivo</a>
                            <a href="#">derechos</a>
                            <a href="#">energia</a>
                            <a href="#">familias</a>
                            <a href="#">igualdad</a>
                        </div>
                    </div>-->
                </aside>
            </div>
        </div>
    </div>
</div>
<!-- <div class="join-us-section all-text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="join-us">
                    <div class="join-us__text-content">
                        <h4 class="join-us__title">DO YOU WANT TO BUILD A BETTER WORLD?</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                    </div>
                    <div class="pdb30 pdt10">
                        <a href="#" class="btn">JOIN US</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
{% endblock content %}

