{% extends "base.html" %}
{% load thumbnail %}
{% load el_pagination_tags %}
{% load embed_video_tags %}
{% load disqus_tags %}

{% block content %}
<style type="text/css">
.fund-pagination span {
    height: 40px;
    display: inline-block;
    width: 40px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 100%;
    color: #1e3042;
    margin-right: 15px;
}

.blog-post__like-comment a {
    color: #fff;
}
</style>
<div class="banner-area banner-area--blog all-text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">ÚLTIMAS NOTICIAS</h1>
                <ul class="fund-breadcumb">
                    <li><a href="/">Inicio</a> </li>
                    <li class="active">Últimas noticias</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="main-content section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row row-eq-rs-height">
                    {% paginate 6 notas_list %}
                    {% for nota in notas_list %}
                        <div class="col-sm-6 col-xs-12">
                        <div class="blog-post">
                            <div class="blog-post__thumbnail-wrap">
                                {% if nota.tipo == 1 %}
                                    {% thumbnail nota.foto "380x250" crop="center" as im %}
                                        <img src="{{im.url}}" class="widget-latest-causes__thubnail" alt="">
                                    
                                    {% endthumbnail %}
                                  {% elif nota.tipo == 2 %}
                                    {% video nota.video as my_video %}
                                        {% thumbnail my_video.thumbnail "380x250" crop="center" as im %}
                                          <img src="{{im.url}}" class="widget-latest-causes__thubnail" alt="">  
                                        {% empty %}   
                                          <img src="http://via.placeholder.com/380x250" class="widget-latest-causes__thubnail" alt="">
                                        {% endthumbnail %}
                                    {% endvideo %}
                                  {% endif %}
                                <div class="blog-post__like-comment">
                                    <span><i class="fa fa-comments"></i>
                                    {% set_disqus_identifier object.id %}
                                    <a href="/notas/{{ nota.slug }}#disqus_thread" data-disqus-identifier="{{ object.id }}">{% disqus_num_replies %}</a>
                                    </span>
                                    <span>|</span>
                                    <span><i class="fa fa-eye"></i>{{nota.vistas}} Vistas</span>
                                </div>
                            </div>
                            <div class="blog-post__text-content">
                                <h4 class="blog-post__title heading-label-four" style="height:90px !important"><a href="{% url "detalle-notas" nota.slug %}">{{nota.titulo}}</a></h4>
                                <div class="blog-post__meta-info">
                                    <span class="small-text"><i class="fa fa-user base-color"></i>{{nota.user.userprofile.contraparte.siglas}}</span>
                                    <span class="small-text"><i class="fa fa-calendar base-color"></i>{{nota.fecha}}</span>
                                </div>
                                <p></p>
                                <p>{{nota.contenido|safe|striptags|truncatechars:130}} </p>
                                <a href="{% url "detalle-notas" nota.slug %}" class="btn">Leer más</a>
                            </div>
                        </div><!--/.blog-post-->
                    </div>
                    {% endfor %}
                    {% if not notas_list %}
                        <p>No hay resultados</p>
                    {% endif %}
                </div>
                <div class="fund-pagination mb30">
                    {% show_pages %}
                    <!--<a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#" class="next">Siguiente</a>-->
                </div>
            </div>
            <div class="col-md-4">
                <aside class="sidebar">
                    <form class="search-form widget" action='.' method='GET'>
                        <input type="search" placeholder="Buscar" name="buscar" class="form-control search-form__input" {% if q %}value="{{q}}"{% endif %} />
                        <button type="submit" class="search-form__submit"><i class="fa fa-search base-color"></i> </button>
                    </form>
                    <div class="widget">
                        <div class="widget__heading">
                            <h4 class="widget__title">PRÓXIMOS <span class="base-color">EVENTOS</span></h4>
                        </div>
                        <div class="widget__text-content">
                            <div class="upcomming-event-carousel" id="upcomming-event-carousel">
                                {% for evento in dic_eventos.keys %}
                                    <div class="upcomming-event-carousel__item">
                                    <div class="image text-center">
                                        <a href="{% url 'agenda-detail' evento.slug %}">
                                            {% thumbnail evento.foto "380x250" crop="center" as im %}
                                            <img class="widget-latest-causes__thubnail" src="{{im.url}}" alt="up">
                                            {% empty %}
                                            <img class="widget-latest-causes__thubnail" src="http://via.placeholder.com/380x250" alt="">
                                            {% endthumbnail %}
                                        <h4 class="upcomming-event-carousel__title">{{evento.evento}}</h4></a>

                                    </div>
                                    <div class="event-counter">
                                        <!--<div id="event-counter-{{forloop.counter}}" class="musica-counter-active" data-value-year="{{evento.inicio|date:"o"}}" data-value-month="{{evento.inicio|date:"n"}}" data-value-day="{{evento.inicio|date:"j"}}" data-value-zone="+10" ></div>-->
                                        <div  class="" >
                                            <span class="countdown-row countdown-show4 " id="prox-eventos-{{forloop.counter}}">
                                                <span class="countdown-section"><span class="countdown-amount days">0</span><span class="countdown-period">Días</span></span>
                                                <span class="countdown-section"><span class="countdown-amount hours">0</span><span class="countdown-period">horas</span></span>
                                                <span class="countdown-section"><span class="countdown-amount minutes">0</span><span class="countdown-period">minutos</span></span>
                                                <span class="countdown-section"><span class="countdown-amount seconds">0</span><span class="countdown-period">segundos</span></span>
                                            </span>
                                        </div>
                                    </div>
                                </div><!--/.upcomming-event-carousel__item-->
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="widget widget--category">
                        <div class="widget__heading">
                            <h4 class="widget__title">TEMAS</h4>
                        </div>
                        <div class="widget__text-content">
                            <ul>
                                {% for x,y in dic_temas.items %}
                                    <li><a href="{% url "filtro-temas" x %}" class="pdr10">{{x}}</a><span class="post-count">{{y}}</span></li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                    <!--<div class="widget widget--tags">
                        <div class="widget__heading">
                            <h4 class="widget__title">TAG</h4>
                        </div>
                        <div class="widget__text-content">
                            <a href="#">acciones</a>
                            <a href="#">agricultura</a>
                            <a href="#">agua</a>
                            <a href="#">cambio climatico</a>
                            <a href="#">clima</a>
                            <a href="#">cultivo</a>
                            <a href="#">derechos</a>
                            <a href="#">energia</a>
                            <a href="#">familias</a>
                            <a href="#">igualdad</a>
                        </div>
                    </div>-->
                </aside>
            </div>
        </div>
    </div>
</div>
<!-- <div class="join-us-section all-text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="join-us">
                    <div class="join-us__text-content">
                        <h4 class="join-us__title">DO YOU WANT TO BUILD A BETTER WORLD?</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                    </div>
                    <div class="pdb30 pdt10">
                        <a href="#" class="btn">JOIN US</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
{% endblock content %}

{% block extra_js %}
{% for v in dic_eventos.values %}
<script type="text/javascript">
    var timer{{forloop.counter}} = new Timer();
    timer{{forloop.counter}}.start({countdown: true, startValues: {days: {{v.0}},hours: {{v.1}}}, precision: 'seconds'});
    timer{{forloop.counter}}.addEventListener('secondsUpdated', function (e) {
        $('#prox-eventos-{{forloop.counter}} .days').html(timer{{forloop.counter}}.getTimeValues().days);
        $('#prox-eventos-{{forloop.counter}} .hours').html(timer{{forloop.counter}}.getTimeValues().hours);
        $('#prox-eventos-{{forloop.counter}} .minutes').html(timer{{forloop.counter}}.getTimeValues().minutes);
        $('#prox-eventos-{{forloop.counter}} .seconds').html(timer{{forloop.counter}}.getTimeValues().seconds);
    });
</script>
{% endfor %}
{% endblock extra_js %}

