{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
<style type="text/css">
    ul, ol {
    /* list-style: none; */
    list-style-type: circle;
}
</style>
<div class="banner-area banner-area--events all-text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">Organizaciones</h1>
                <ul class="fund-breadcumb">
                    <li><a href="/">Inicio</a> </li>
                    <li><a href="/organizaciones/">Lista de Organizaciones</a> </li>
                    <li class="active">{{object.siglas}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="main-content prueba section-padding">
    <div class="container ">
        <div class="row stickem-container prueba">
            <div class="col-md-3" >
                <aside class="sidebar sidebar-profile stickem">
                    <div class="profile ">

                        <div class="image-wrap profile-image">
                            {% thumbnail object.logo "260x240" crop="center" format='PNG' as im %}
	                            <img src="{{im.url}}" alt="" width="100%">
	                        {% empty %}
	                          <img src="http://via.placeholder.com/260x240" alt="" width="100%">
	                        {% endthumbnail %}
                        </div>

                        <div class="profile-name">
                            <div class="contact-address">
                                <div class="contact-address-item">
                                    <span class="icon-wrap base-color border-color"><i class="fa fa-map-marker contact-icon"></i></span>
                                    <div class="text-content">
                                        <div class="contact-title base-color">País</div>
                                        {{object.pais}}
                                    </div>
                                </div><!--/.contact-address-item-->

                                {% if object.fundacion %}
                                	<div class="contact-address-item">
                                    <span class="icon-wrap base-color border-color"><i class="fa fa-calendar contact-icon"></i></span>
                                    <div class="text-content">
                                        <div class="base-color contact-title">Año de fundación</div>
                                        {{object.fundacion}}
                                    </div>
                                </div><!--/.contact-address-item-->
                                {% endif %}

                                {% if object.contacto %}
                                    <div class="contact-address-item">
                                    <span class="icon-wrap base-color border-color"><i class="fa fa-address-book contact-icon"></i></span>
                                    <div class="text-content">
                                        <div class="base-color contact-title">Contacto</div>
                                        {{object.contacto}}
                                    </div>
                                </div><!--/.contact-address-item-->
                                {% endif %}

                                {% if object.telefono %}
                                	<div class="contact-address-item">
                                    <span class="icon-wrap base-color border-color"><i class="fa fa-phone contact-icon"></i></span>
                                    <div class="text-content">
                                        <div class="base-color contact-title">Teléfono</div>
                                         {{object.telefono}}
                                    </div>
                                </div><!--/.contact-address-item-->
                                {% endif %}

                                {% if object.correo %}
                                    <div class="contact-address-item">
                                    <span class="icon-wrap base-color border-color"><i class="fa fa-envelope-open contact-icon"></i></span>
                                    <div class="text-content">
                                        <div class="base-color contact-title">Correo</div>
                                         {{object.correo}}
                                    </div>
                                </div><!--/.contact-address-item-->
                                {% endif %}

                                {% if object.sitio_web %}
                                <div class="contact-address-item">
                                    <span class="icon-wrap base-color border-color"><i class="fa fa-map-marker contact-icon"></i></span>
                                    <div class="text-content">
                                        <div class="base-color contact-title">Website</div>
                                        {{object.sitio_web}}<br/>

                                    </div>
                                </div><!--/.contact-address-item-->
                                {% endif %}
                            </div>
                        </div>
                        <!--<div class="profile-name">
                            <ul>
                                <li><i class="fa fa-map-marker pdr5"></i> Pais:  Nicaragua <img src="https://www.citel.oas.org/es/SiteAssets/Paginas/SistemaTIC/countries/images/bandera-nicaragua.png" alt="" height="15px"></li>
                                <li><i class="fa fa-building pdr5"></i> Año de fundación: 1990</li>
                                <li><i class="fa fa-envelope pdr5"></i> Contacto: info@correo.com</li>
                                <li><i class="fa fa-phone pdr5"></i> Teléfono: 2222 2222</li>
                                <li><i class="fa fa-globe pdr5"></i> Web: www.simas.org.ni</li>
                            </ul>
                             <h1 class="text-center">SIMAS</h1>
                            <h5 class="text-center">Servicio de Información Mesoamericano sobre Agricultura Sostenible</h5>
                        </div>-->
                    </div>
                    <ul class="social-btn">
                    	{% for red in object.redes_set.all %}
                    		<li>
                            <a href="{{red.url}}">
                                <i class="{% if red.opcion == 'Sitio web' %}
                                                fa fa-globe
                                            {% elif red.opcion == 'Facebook' %}
                                                fa fa-facebook
                                            {% elif red.opcion == 'Twitter' %}
                                                fa fa-twitter
                                            {% elif red.opcion == 'Youtube' %}
                                                fa fa-youtube
                                            {% elif red.opcion == 'Google+' %}
                                                fa fa-google
                                            {% elif red.opcion == 'Instagram' %}
                                                fa fa-instagram
                                            {% elif red.opcion == 'Linkedin' %}
                                                fa fa-linkedin
                                            {% elif red.opcion == 'Flickr' %}
                                                fa fa-flickr
                                            {% elif red.opcion == 'Pinterest' %}
                                                fa fa-pinterest
                                            {% elif red.opcion == 'Vimeo' %}
                                                fa fa-vimeo
                                            {% elif red.opcion == 'Otra' %}
                                                fa fa-link
                                            {% endif %}" aria-hidden="true" target="_blank"></i>
                            </a>
                        </li>
                    	{% endfor %}
                    </ul>

                </aside>
            </div>
            <div class="col-md-9">
                <section>
                    <div class="blog-details-top mb40">
                        <div class="blog-details-top__text-content">
                            <h3 class="blog-details__title">{{object.nombre}} - {{object.siglas}}</h3>
                            <hr>
                            <p>{{object.generalidades|safe}}</p>

                            <h3>Temas</h3>
                            <p>{{object.temas|safe}}</p>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>
</div>
{% endblock content %}
