{% extends "base.html" %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block content %}
<div class="banner-area banner-area--events all-text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">Eventos</h1>
                <ul class="fund-breadcumb">
                    <li><a href="/">Inicio</a> </li>
                    <li><a href="/eventos/">Lista eventos</a> </li>
                    <li>Evento</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="main-content section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="event-detial-wrap">
                    <div class="image-wrap mb40">
                        {% thumbnail evento.foto "640x480" crop="center" as im %}
                        <img class="img-round" src="{{im.url}}" alt="" width="100%">
                        {% empty %}
                        <img class="img-round" src="http://via.placeholder.com/640x480" alt="" width="100%">
                        {% endthumbnail %}
                    </div>
                    <h3 class="pdb10">{{evento.evento}}</h3>
                    {{evento.descripcion|safe}}
                    <ul class="event-detail-meta nv-color">
                        <li>
                            <span class="event-detail-meta__title"><i class="fa fa-calendar base-color icon"></i> Horario del evento</span>
                            <span class="desc">{{evento.inicio}} {{evento.hora_inicio|time:"f A"}} - {{evento.hora_fin|time:"f A"}}</span>
                        </li>
                        <li>
                            <span class="event-detail-meta__title"><i class="fa fa-map-marker base-color icon"></i> Lugar</span>
                            <span class="desc">{{evento.lugar}}</span>
                        </li>
                    </ul>
                </div>
                {% now "Y-m-d" as current_date %}
                {% if evento.inicio|date:"Y-m-d" >= current_date %}
                <div class="event-details-counter-wrap mt50 mb30">
                    <div class="event-counter" >
                        <div  class="musica-counter-active is-countdown" data-value-year="2018" data-value-month="9" data-value-day="28" data-value-zone="+10">
                            <span class="countdown-row countdown-show4 " id="gettingValuesExample">
                                <span class="countdown-section"><span class="countdown-amount days">0</span><span class="countdown-period">Días</span></span>
                                <span class="countdown-section"><span class="countdown-amount hours">0</span><span class="countdown-period">horas</span></span>
                                <span class="countdown-section"><span class="countdown-amount minutes">0</span><span class="countdown-period">minutos</span></span>
                                <span class="countdown-section"><span class="countdown-amount seconds">0</span><span class="countdown-period">segundos</span></span>
                            </span>
                        </div>
                    </div>
                    {% if request.user.is_authenticated %}
                       <div class="buy-ticket all-text-white">
                        <a href="{% url 'confirmar-evento' evento.slug %}" class="btn base-bg">Confirmar Participación</a>
                    </div> 
                    {% endif %}
                    
                </div>
                {% endif %}
                <!--<div>
                    <p>Tras la realización de seis Foros Territoriales y un Foro Académico, se llevó a cabo el Foro Nacional “Sector Privado en la Agenda de Desarrollo Sostenible de Nicaragua”, con el objetivo de enfrentar los desafíos ambientales que enfrentamos como sociedad, involucrando a distintos sectores, entre ellos a las cámaras empresariales, a la iglesia y a la sociedad civil.</p>
                    <p>El foro se realizó gracias al apoyo de la Embajada de Alemania en Nicaragua y el organismo internacional CAFOD, contando con la participación de líderes y lideresas empresariales, representantes de universidades y de la iglesia católica. </p>
                </div>-->
                {% if evento.agendaevento_set.all %}
                <div class="event-shedule-wrap pdt15">
                    <h3>AGENDA DEL EVENTO</h3>
                    <div class="event-shedules mt40">
                        {% for agenda in evento.agendaevento_set.all|dictsort:"hora_inicio" %}
                           <div class="event-shedule">
                            <div class="event-shedule__time">
                                {{agenda.hora_inicio|time:"f"}} - {{agenda.hora_fin|time:"f A"}}
                            </div>
                            <div class="event-shedule__text-content">
                                <h5 class="event-shedule__title">{{agenda.actividad}}</h5>
                                <p>{{agenda.descripcion}}</p>
                            </div>
                        </div> 
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                
                {% if evento.adjunto.all %}
                   <div class="event-details-location-wrap mt40 pdt50">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="location-text-content mb30">
                                <h3>DOCUMENTOS</h3>
                                
                                <ul>
                                    {% for doc in evento.adjunto.all %}
                                        <li><span class="loc-icon"><i class="fa fa-file base-color"></i></span><a href="/media/{{doc.adjunto}}/" download>{{doc.nombre_doc}}</a></li>
                                    {% endfor %}
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> 
                {% endif %}
                
            </div>
            <div class="col-md-4">
                <aside class="sidebar">
                    <form class="search-form widget" action='/eventos/' method='GET'>
                        <input type="search" placeholder="Buscar" name="buscar" class="form-control search-form__input" {% if q %}value="{{q}}"{% endif %} />
                        <button type="submit" class="search-form__submit"><i class="fa fa-search base-color"></i> </button>
                    </form>
                    <div class="widget">
                        <div class="widget__heading">
                            <h4 class="widget__title">PRÓXIMOS <span class="base-color">EVENTOS</span></h4>
                        </div>
                        <div class="widget__text-content">
                            <div class="upcomming-event-carousel" id="upcomming-event-carousel">
                                {% for evento in dic_eventos.keys %}
                                    <div class="upcomming-event-carousel__item">
                                    <div class="image text-center">
                                        <a href="{% url 'agenda-detail' evento.slug %}">
                                            {% thumbnail evento.foto "380x250" crop="center" as im %}
                                            <img class="widget-latest-causes__thubnail" src="{{im.url}}" alt="up">
                                            {% empty %}
                                            <img class="widget-latest-causes__thubnail" src="http://via.placeholder.com/380x250" alt="">
                                            {% endthumbnail %}
                                        <h4 class="upcomming-event-carousel__title">{{evento.evento}}</h4></a>

                                    </div>

                                    <div class="event-counter">
                                        <!--<div id="event-counter-{{forloop.counter}}" class="musica-counter-active" data-value-year="{{evento.inicio|date:"o"}}" data-value-month="{{evento.inicio|date:"n"}}" data-value-day="{{evento.inicio|date:"j"}}" data-value-zone="+10" ></div>-->
                                        <div  class="" >
                                            <span class="countdown-row countdown-show4 " id="prox-eventos-{{forloop.counter}}">
                                                <span class="countdown-section"><span class="countdown-amount days">0</span><span class="countdown-period">Días</span></span>
                                                <span class="countdown-section"><span class="countdown-amount hours">0</span><span class="countdown-period">horas</span></span>
                                                <span class="countdown-section"><span class="countdown-amount minutes">0</span><span class="countdown-period">minutos</span></span>
                                                <span class="countdown-section"><span class="countdown-amount seconds">0</span><span class="countdown-period">segundos</span></span>
                                            </span>
                                        </div>
                                    </div>
                                </div><!--/.upcomming-event-carousel__item-->
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="widget__heading">
                            <h4 class="widget__title">ÚLTIMAS <span class="base-color">NOTICIAS</span></h4>
                        </div>
                       <div class="widget__text-content">
                            {% for ultima_nota in ultimas_notas %}
                            <div class="widget-latest-causes">
                                <div class="widget-latest-causes__image-wrap">
                                    <a href="{% url "detalle-notas" ultima_nota.slug %}">
                                        {% if ultima_nota.tipo == 1 %}
                                            {% thumbnail ultima_nota.foto "380x250" crop="center" as im %}
                                                <img src="{{im.url}}" class="widget-latest-causes__thubnail" alt="">  
                                            {% empty %}   
                                              <img src="http://via.placeholder.com/380x250" class="widget-latest-causes__thubnail" alt="">
                                            {% endthumbnail %}
                                          {% elif ultima_nota.tipo == 2 %}
                                            {% video ultima_nota.video as my_video %}
                                                {% thumbnail my_video.thumbnail "380x250" crop="center" as im %}
                                                  <img src="{{im.url}}" class="widget-latest-causes__thubnail" alt="">  
                                                {% empty %}   
                                                  <img src="http://via.placeholder.com/380x250" class="widget-latest-causes__thubnail" alt="">
                                                {% endthumbnail %}
                                            {% endvideo %}
                                          {% endif %}
                                    </a>
                                </div>
                                <div class="widget-latest-causes__text-content">
                                    <h4 class="widget-latest-causes__title"><a href="{% url "detalle-notas" ultima_nota.slug %}">{{ultima_nota.titulo}}</a></h4>
                                    <div class="widget-latest-causes__admin small-text">
                                        <i class="base-color fa fa-user widget-latest-causes__admin-icon"></i>
                                        <a href="#">{{ultima_nota.user.userprofile.contraparte.siglas}}</a>
                                    </div>
                                    <div class="widget-latest-causes__time text-mute">
                                        <span class="small-text"><i class="fa fa-calendar base-color"></i> {{ultima_nota.fecha}}</span>

                                    </div>
                                </div>
                            </div><!--/.widget-latest-causes-->
                            {% endfor %}
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
var timer = new Timer();
timer.start({countdown: true, startValues: {days: {{days}},hours: {{hours}}}, precision: 'seconds'});
timer.addEventListener('secondsUpdated', function (e) {
    $('#gettingValuesExample .days').html(timer.getTimeValues().days);
    $('#gettingValuesExample .hours').html(timer.getTimeValues().hours);
    $('#gettingValuesExample .minutes').html(timer.getTimeValues().minutes);
    $('#gettingValuesExample .seconds').html(timer.getTimeValues().seconds);
});
</script>
{% for v in dic_eventos.values %}
<script type="text/javascript">
    var timer{{forloop.counter}} = new Timer();
    timer{{forloop.counter}}.start({countdown: true, startValues: {days: {{v.0}},hours: {{v.1}}}, precision: 'seconds'});
    timer{{forloop.counter}}.addEventListener('secondsUpdated', function (e) {
        $('#prox-eventos-{{forloop.counter}} .days').html(timer{{forloop.counter}}.getTimeValues().days);
        $('#prox-eventos-{{forloop.counter}} .hours').html(timer{{forloop.counter}}.getTimeValues().hours);
        $('#prox-eventos-{{forloop.counter}} .minutes').html(timer{{forloop.counter}}.getTimeValues().minutes);
        $('#prox-eventos-{{forloop.counter}} .seconds').html(timer{{forloop.counter}}.getTimeValues().seconds);
    });
</script>
{% endfor %}
{% endblock extra_js %}