{% extends "base.html" %}
{% load thumbnail %}
{% load el_pagination_tags %}

{% block content %}
<style type="text/css">
.fund-pagination span {
    height: 40px;
    display: inline-block;
    width: 40px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 100%;
    color: #1e3042;
    margin-right: 15px;
}
</style>
<div class="banner-area banner-area--events all-text-white text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-title">Eventos</h1>
                    <ul class="fund-breadcumb">
                        <li><a href="index.html">Inicio</a> </li>
                        <li><a href="events.html">Eventos</a> </li>
                    </ul>
                </div>
            </div>
        </div>
</div>
<div class="main-content section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="fund-events">
                    {% paginate 5 eventos %}
                    {% for evento in eventos %}
                    <div class="fund-event">
                        <div class="fund-event__date">
                            <span class="fund-event__day base-color">{{evento.inicio|date:"d"}}</span>
                            <span class="small-text nv-color">{{evento.inicio|date:"N"}} - {{evento.inicio|date:"o"}}</span>
                        </div>
                        <div class="fund-event__main">
                            <div class="fund-event__image-content">
                                <div class="fund-event__image-wrap">
                                    <img src="http://cafodca.org/uploads/fotos/IMG_1027.380x250.JPG" class="fund-event__image" alt="">
                                </div>
                                <div class="fund-event__text-content">
                                    <h4 class="fund-event__title"><a href="#">{{evento.evento}}</a></h4>
                                    <div class="fund-event__time">
                                        <i class="fa fa-calendar fund-event__icon base-color"></i>{{evento.hora_inicio|time:"f A"}} - {{evento.hora_fin|time:"f A"}}
                                    </div>
                                    <div class="fund-event__address">
                                        <i class="fa fa-map-marker fund-event__icon base-color"></i>{{evento.lugar}}
                                    </div>
                                </div>
                            </div>
                            <p>Se presentará plataforma en Honduras y se aprovechará el momento para capacitar a las organizaciones en el manejo y uso de la plataforma para construcción colectiva de conocimiento.</p>
                        </div>
                    </div><!--/.fund-event-->
                    {% endfor %}
                    
                </div>
                <div class="fund-pagination mb30">
                    {% show_pages %}
                </div>
            </div>
            <div class="col-md-4">
                <aside class="sidebar">
                    <form class="search-form widget">
                        <input type="search" placeholder="Buscar" class="form-control search-form__input" />
                        <button type="submit" class="search-form__submit"><i class="fa fa-search base-color"></i> </button>
                    </form>
                    <div class="widget">
                        <div class="widget__heading">
                            <h4 class="widget__title">PRÓXIMOS <span class="base-color">EVENTOS</span></h4>
                        </div>
                        <div class="widget__text-content">
                            <div class="upcomming-event-carousel" id="upcomming-event-carousel">
                                <div class="upcomming-event-carousel__item">
                                    <div class="image text-center">
                                        <a href="#"><img class="event-thumbnail" src="http://cafodca.org/uploads/fotos/IMG_1027.380x250.JPG" alt="up">
                                        <h4 class="upcomming-event-carousel__title">Validación de plataforma CAFOD</h4></a>

                                    </div>
                                    <div class="event-counter">
                                        <div id="event-counter-one" class="musica-counter-active" data-value-year="2018" data-value-month="9" data-value-day="28" data-value-zone="+10" ></div>
                                    </div>
                                </div><!--/.upcomming-event-carousel__item-->
                                <div class="upcomming-event-carousel__item">
                                    <div class="image text-center">
                                        <a href="#"><img class="event-thumbnail" src="http://cafodca.org/uploads/fotos/foto_taller_mujeres_2.380x250.JPG" alt="up">
                                        <h4 class="upcomming-event-carousel__title">Capacitación sobre Doctrina Social</h4></a>

                                    </div>
                                    <div class="event-counter">
                                        <div id="event-counter-two" class="musica-counter-active" data-value-year="2018" data-value-month="9" data-value-day="28" data-value-zone="+10" ></div>
                                    </div>
                                </div><!--/.upcomming-event-carousel__item-->
                                <div class="upcomming-event-carousel__item">
                                    <div class="image text-center">
                                        <a href="#"><img class="event-thumbnail" src="http://cafodca.org/uploads/fotos/IMG_0897.380x250.JPG" alt="up">
                                        <h4 class="upcomming-event-carousel__title">Reuniòn de Junta Directiva</h4></a>

                                    </div>
                                    <div class="event-counter">
                                        <div id="event-counter-three" class="musica-counter-active" data-value-year="2018" data-value-month="9" data-value-day="28" data-value-zone="+10" ></div>
                                    </div>
                                </div><!--/.upcomming-event-carousel__item-->
                            </div>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="widget__heading">
                            <h4 class="widget__title">ÚLTIMAS <span class="base-color">NOTICIAS</span></h4>
                        </div>
                        <div class="widget__text-content">
                            <div class="widget-latest-causes">
                                <div class="widget-latest-causes__image-wrap">
                                    <a href="#"><img class="widget-latest-causes__thubnail" src="http://cafodca.org/uploads/fotos/descarga.380x250.jpg" alt=""></a>
                                </div>
                                <div class="widget-latest-causes__text-content">
                                    <h4 class="widget-latest-causes__title"><a href="#">Visitas a Proyectos agro ecológicas.</a></h4>
                                    <div class="widget-latest-causes__admin small-text">
                                        <i class="base-color fa fa-user widget-latest-causes__admin-icon"></i>
                                        <a href="#">Organización</a>
                                    </div>
                                    <div class="widget-latest-causes__time text-mute">
                                        <span class="small-text"><i class="fa fa-calendar base-color"></i> 25 Abril 2018</span>

                                    </div>
                                </div>
                            </div><!--/.widget-latest-causes-->
                            <div class="widget-latest-causes">
                                <div class="widget-latest-causes__image-wrap">
                                    <a href="#"><img class="widget-latest-causes__thubnail" src="http://cafodca.org/uploads/fotos/descarga.380x250.jpg" alt=""></a>
                                </div>
                                <div class="widget-latest-causes__text-content">
                                    <h4 class="widget-latest-causes__title"><a href="#">Encuentro Regional Medios de Vida Sostenible</a></h4>
                                    <div class="widget-latest-causes__admin small-text">
                                        <i class="base-color fa fa-user widget-latest-causes__admin-icon"></i>
                                        <a href="#">Organización</a>
                                    </div>
                                    <div class="widget-latest-causes__time text-mute">
                                        <span class="small-text"><i class="fa fa-calendar base-color"></i> 25 Abril 2018</span>

                                    </div>
                                </div>
                            </div><!--/.widget-latest-causes-->
                            <div class="widget-latest-causes">
                                <div class="widget-latest-causes__image-wrap">
                                    <a href="#"><img class="widget-latest-causes__thubnail" src="http://cafodca.org/uploads/fotos/IMG_20180408_111712.380x250.jpg" alt=""></a>
                                </div>
                                <div class="widget-latest-causes__text-content">
                                    <h4 class="widget-latest-causes__title"><a href="#">Pobladores   no permitirán proyectos mineros</a></h4>
                                    <div class="widget-latest-causes__admin small-text">
                                        <i class="base-color fa fa-user widget-latest-causes__admin-icon"></i>
                                        <a href="#">Organización</a>
                                    </div>
                                    <div class="widget-latest-causes__time text-mute">
                                        <span class="small-text"><i class="fa fa-calendar base-color"></i> 25 Abril 2018</span>

                                    </div>
                                </div>
                            </div><!--/.widget-latest-causes-->
                            <div class="widget-latest-causes">
                                <div class="widget-latest-causes__image-wrap">
                                    <a href="#"><img class="widget-latest-causes__thubnail" src="http://cafodca.org/uploads/fotos/foto_taller_mujeres_2.380x250.JPG" alt=""></a>
                                </div>
                                <div class="widget-latest-causes__text-content">
                                    <h4 class="widget-latest-causes__title"><a href="#">Mujeres de León identifican sus derechos</a></h4>
                                    <div class="widget-latest-causes__admin small-text">
                                        <i class="base-color fa fa-user widget-latest-causes__admin-icon"></i>
                                        <a href="#">Organización</a>
                                    </div>
                                    <div class="widget-latest-causes__time text-mute">
                                        <span class="small-text"><i class="fa fa-calendar base-color"></i> 25 Abril 2018</span>

                                    </div>
                                </div>
                            </div><!--/.widget-latest-causes-->
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
