{% extends "base.html" %}
{% load thumbnail %}
{% load el_pagination_tags %}
{% load embed_video_tags %} 

{% block content %}
<style type="text/css">
.fund-pagination span {
    height: 40px;
    display: inline-block;
    width: 40px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 100%;
    color: #1e3042;
    margin-right: 15px;
}
</style>
<div class="banner-area banner-area--events all-text-white text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-title">Eventos</h1>
                    <ul class="fund-breadcumb">
                        <li><a href="/">Inicio</a> </li>
                        <li>Lista eventos</li>
                    </ul>
                </div>
            </div>
        </div>
</div>
<div class="main-content section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="fund-events">
                    {% paginate 5 eventos %}
                    {% for evento in eventos %}
                    <div class="fund-event">
                        <div class="fund-event__date">
                            <span class="fund-event__day base-color">{{evento.inicio|date:"d"}}</span>
                            <span class="small-text nv-color">{{evento.inicio|date:"N"}} - {{evento.inicio|date:"o"}}</span>
                        </div>
                        <div class="fund-event__main">
                            <div class="fund-event__image-content">
                                <div class="fund-event__image-wrap"> 
                                    {% thumbnail evento.foto "380x250" crop="center" as im %}
                                    <img class="fund-event__image" src="{{im.url}}" alt="">
                                    {% empty %}
                                    <img class="fund-event__image" src="http://via.placeholder.com/380x250" alt="">
                                    {% endthumbnail %}
                                </div>
                                <div class="fund-event__text-content">
                                    <h4 class="fund-event__title"><a href="{% url "agenda-detail" evento.slug %}">{{evento.evento}}</a></h4>
                                    <div class="fund-event__time date-hidden">
                                        <i class="fa fa-calendar fund-event__icon base-color"></i>{{evento.inicio|date:"d N Y"}}
                                    </div>
                                    <div class="fund-event__time">
                                        <i class="fa fa-clock-o fund-event__icon base-color"></i>{{evento.hora_inicio|time:"f A"}} - {{evento.hora_fin|time:"f A"}}
                                    </div>
                                    <div class="fund-event__address">
                                        <i class="fa fa-map-marker fund-event__icon base-color"></i>{{evento.lugar}}
                                    </div>
                                </div>
                            </div>
                            {{evento.descripcion|safe|truncatechars:270}}
                        </div>
                    </div><!--/.fund-event-->
                    {% endfor %}
                    
                </div>
                <div class="fund-pagination mb30">
                    {% show_pages %}
                </div>
            </div>
            <div class="col-md-4">
                <aside class="sidebar">
                    <form class="search-form widget">
                        <input type="search" placeholder="Buscar" class="form-control search-form__input" />
                        <button type="submit" class="search-form__submit"><i class="fa fa-search base-color"></i> </button>
                    </form>
                    <div class="widget">
                        <div class="widget__heading">
                            <h4 class="widget__title">PRÓXIMOS <span class="base-color">EVENTOS</span></h4>
                        </div>
                        <div class="widget__text-content">
                            <div class="upcomming-event-carousel" id="upcomming-event-carousel">
                                {% for evento in prox_eventos %}
                                    <div class="upcomming-event-carousel__item">
                                    <div class="image text-center">
                                        <a href="{% url "agenda-detail" evento.slug %}">
                                            {% thumbnail evento.foto "380x250" crop="center" as im %}
                                            <img class="widget-latest-causes__thubnail" src="{{im.url}}" alt="up">
                                            {% empty %}
                                            <img class="widget-latest-causes__thubnail" src="http://via.placeholder.com/380x250" alt="">
                                            {% endthumbnail %}
                                        <h4 class="upcomming-event-carousel__title">{{evento.evento}}</h4></a>

                                    </div>
                                    <div class="event-counter">
                                        <div id="event-counter-{{forloop.counter}}" class="musica-counter-active" data-value-year="{{evento.inicio|date:"o"}}" data-value-month="{{evento.inicio|date:"n"}}" data-value-day="{{evento.inicio|date:"j"}}" data-value-zone="+10" ></div>
                                    </div>
                                </div><!--/.upcomming-event-carousel__item-->
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="widget__heading">
                            <h4 class="widget__title">ÚLTIMAS <span class="base-color">NOTICIAS</span></h4>
                        </div>
                        <div class="widget__text-content">
                            {% for ultima_nota in ultimas_notas %}
                            <div class="widget-latest-causes">
                                <div class="widget-latest-causes__image-wrap">
                                    <a href="{% url "detalle-notas" ultima_nota.slug %}">
                                        {% if ultima_nota.tipo == 1 %}
                                            {% thumbnail ultima_nota.foto "380x250" crop="center" as im %}
                                                <img src="{{im.url}}" class="widget-latest-causes__thubnail" alt="">  
                                            {% empty %}   
                                              <img src="http://via.placeholder.com/380x250" class="widget-latest-causes__thubnail" alt="">
                                            {% endthumbnail %}
                                          {% elif ultima_nota.tipo == 2 %}
                                            {% video ultima_nota.video as my_video %}
                                                {% thumbnail my_video.thumbnail "380x250" crop="center" as im %}
                                                  <img src="{{im.url}}" class="widget-latest-causes__thubnail" alt="">  
                                                {% empty %}   
                                                  <img src="http://via.placeholder.com/380x250" class="widget-latest-causes__thubnail" alt="">
                                                {% endthumbnail %}
                                            {% endvideo %}
                                          {% endif %}
                                    </a>
                                </div>
                                <div class="widget-latest-causes__text-content">
                                    <h4 class="widget-latest-causes__title"><a href="{% url "detalle-notas" ultima_nota.slug %}">{{ultima_nota.titulo}}</a></h4>
                                    <div class="widget-latest-causes__admin small-text">
                                        <i class="base-color fa fa-user widget-latest-causes__admin-icon"></i>
                                        <a href="#">{{ultima_nota.user.userprofile.contraparte.siglas}}</a>
                                    </div>
                                    <div class="widget-latest-causes__time text-mute">
                                        <span class="small-text"><i class="fa fa-calendar base-color"></i> {{ultima_nota.fecha}}</span>

                                    </div>
                                </div>
                            </div><!--/.widget-latest-causes-->
                            {% endfor %}
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
