{% extends "base.html" %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block content %}
<!--<style type="text/css">
    .rev_slider .tp-caption, .rev_slider .caption{

        background: rgba(0, 0, 0, 0.5);
        padding: 15px !important;
    }

</style> -->
<div class="slider-area">

        <div data-scroll-index="0" id="rev_slider_1052_1_wrapper" class="all-text-white rev_slider_wrapper fullscreen-container" data-alias="web-product-dark122" data-source="gallery">
           <!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->
               <div id="rev_slider_1052_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.3.0.2">
           <ul> <!-- SLIDE  -->
            {% for banner in banners %}
              
               <li data-index="rs-294{{banner.id}}" data-transition="fade" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" >
                   <!-- MAIN IMAGE -->
                   
                    {% thumbnail banner.imagen "1920x940" as im %}
                        <img src="{{im.url}}" alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    {% endthumbnail %}
                   
                   <div class="texto-banner">
                       <!-- LAYERS 1-->
                       <div class="tp-caption tp-resizeme"
                            id="slide-294{{banner.id}}-layer-7"
                           data-x="['middle','middle','middle','middle']"
                           data-hoffset="['-237','-217',0,'0']"
                           data-y="['middle','middle','middle','middle']"
                           data-voffset="['-60','-60','-60','-60']"
                           data-fontsize="['48','48','48','30']"
                           data-lineheight="['60','60','50','30']"
                           data-width="['710','710','none','none']"
                           data-height="none"
                           data-whitespace="wrap"
                           data-type="text"
                           data-responsive_offset="on"
                           data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                           data-textAlign="['left','left','center','center']"
                           data-paddingtop="[0,0,0,0]"
                           data-paddingright="[0,0,0,0]"
                           data-paddingbottom="[0,0,0,0]"
                           data-paddingleft="[0,0,0,0]"
                           ><span class="slider-title">{{banner.titulo}}</span>
                       </div>
                       <!-- LAYER NR. 2 -->
                       <div class="tp-caption tp-resizeme slider-sub-heading-wrap"
                           id="slide-294{{banner.id}}-layer-10"
                           data-x="['middle','middle','middle','middle']"
                           data-hoffset="['-237','-217',0,'0']"
                           data-y="['middle','middle','middle','middle']"
                           data-voffset="['40','40','40','20']"
                           data-fontsize="['20','20','20','20']"
                           data-lineheight="['24','24','24','24']"
                           data-width="['710','710','510','300']"
                           data-height="none"
                           data-whitespace="wrap"
                           data-type="text"
                           data-responsive_offset="on"
                           data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1250,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                           data-textAlign="['left','left','center','center']"
                           data-paddingtop="[0,0,0,0]"
                           data-paddingright="[0,0,0,0]"
                           data-paddingbottom="[0,0,0,0]"
                           data-paddingleft="[0,0,0,0]">
                           <span class="slider-sub-heading">{{banner.texto}}</span>
                       </div>
                   </div>
                   

               </li>
               {% endfor %}
               <!--<li data-index="rs-2947" data-transition="fade" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" >
                   <img src="/static/images/nuevo/banner1.jpg" alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                   <div class="tp-caption tp-resizeme"
                        id="slide-2947-layer-7"
                       data-x="['middle','middle','middle','middle']"
                       data-hoffset="['-237','-217',0,'0']"
                       data-y="['middle','middle','middle','middle']"
                       data-voffset="['-60','-60','-60','-60']"
                       data-fontsize="['48','48','48','30']"
                       data-lineheight="['60','60','50','30']"
                       data-width="['710','710','none','none']"
                       data-height="none"
                       data-whitespace="wrap"
                       data-type="text"
                       data-responsive_offset="on"
                       data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                       data-textAlign="['left','left','center','center']"
                       data-paddingtop="[0,0,0,0]"
                       data-paddingright="[0,0,0,0]"
                       data-paddingbottom="[0,0,0,0]"
                       data-paddingleft="[0,0,0,0]"
                       ><span class="slider-title">Seguridad <br/>Alimentaria</span></div>

                   <div class="tp-caption tp-resizeme slider-sub-heading-wrap"
                       id="slide-2947-layer-10"
                       data-x="['middle','middle','middle','middle']"
                       data-hoffset="['-237','-217',0,'0']"
                       data-y="['middle','middle','middle','middle']"
                       data-voffset="['40','40','40','20']"
                       data-fontsize="['20','20','20','20']"
                       data-lineheight="['24','24','24','24']"
                       data-width="['710','710','510','300']"
                       data-height="none"
                       data-whitespace="wrap"
                       data-type="text"
                       data-responsive_offset="on"
                       data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1250,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                       data-textAlign="['left','left','center','center']"
                       data-paddingtop="[0,0,0,0]"
                       data-paddingright="[0,0,0,0]"
                       data-paddingbottom="[0,0,0,0]"
                       data-paddingleft="[0,0,0,0]">
                       <span class="slider-sub-heading">Nuestra comida debería ser nuestra medicina y   <br/>nuestra medicina debería ser nuestra comida. </span></div>
                   
               </li>-->
           </ul>
           <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>  
         </div>
       </div><!-- END REVOLUTION SLIDER -->
    </div>
   <div class="body-overlay"></div>
<section class="blog-section section-padding ash-white-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2 class="section-title wow fadeInUpXsd" data-wow-duration=".7s" data-wow-delay=".1s">Últimas  <span class="base-color">Noticias</span></h2>
                    <!-- <span class="section-sub-title wow fadeInUpXsd disinb" data-wow-duration=".9s" data-wow-delay=".1s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</span> -->
                    <div class="section-heading-separator wow fadeInUpXsd" data-wow-duration="1.1s" data-wow-delay=".1s"></div>
                </div>
            </div>
        </div>
        <div class="row row-eq-rs-height notice-carousel">
          {% for nota in notas %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="blog-post wow fadeInUpSmd" data-wow-duration="1.5s" data-wow-delay=".2s">
                    <div class="blog-post__thumbnail-wrap">
                      {% if nota.tipo == 1 %}
                        {% thumbnail nota.foto "380x250" crop="center" as im %}
                            <img src="{{im.url}}" alt="blog">  
                        {% empty %}   
                          <img src="http://via.placeholder.com/380x250" alt="blog">
                        {% endthumbnail %}
                      {% elif nota.tipo == 2 %}
                        {% video nota.video as my_video %}
                            {% thumbnail my_video.thumbnail "380x250" crop="center" as im %}
                              <img src="{{im.url}}" alt="blog">  
                            {% empty %}   
                              <img src="http://via.placeholder.com/380x250" alt="blog">
                            {% endthumbnail %}
                        {% endvideo %}
                      {% endif %}
                        
                        <div class="blog-post__like-comment">
                            <span><i class="fa fa-comments"></i>22 Comentarios</span>
                            <span>|</span>
                            <span><i class="fa fa-eye"></i>{{nota.vistas}} Vistas</span>
                        </div>
                    </div>
                    <div class="blog-post__text-content">
                        <h4 class="blog-post__title heading-label-four"><a href="{% url "detalle-notas" nota.slug %}">{{nota.titulo}}</a></h4>
                        <div class="blog-post__meta-info">
                            <span class="small-text"><i class="fa fa-user base-color"></i>{{nota.user.userprofile.contraparte.siglas}}</span>
                            <span class="small-text"><i class="fa fa-calendar base-color"></i>{{nota.fecha}}</span>
                        </div>
                        <p>{{nota.contenido|safe|truncatechars:150}} </p>
                        <a href="{% url "detalle-notas" nota.slug %}" class="btn">Leer más</a>
                    </div>
                </div><!--/.blog-post-->
            </div>
          {% endfor %}
            
        </div>
    </div>
</section>
<section class="upcomming-event-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="section-heading">
                    <h2 class="section-title section-title--small wow fadeInUpXsd" data-wow-duration=".7s" data-wow-delay=".1s">PRÓXIMOS  <span class="base-color">EVENTOS</span></h2>
                    <div class="section-heading-separator section-heading-separator--left-align wow fadeInUpXsd" data-wow-duration=".9s" data-wow-delay=".1s"></div>
                </div>
                <div class="upcommig-event-carousel wow fadeInUpXsd" data-wow-duration=".7s" data-wow-delay=".3s">
                    {% for evento in eventos %}
                        <div class="upcomming-event">
                        <div class="upcomming-event__image-wrap">
                            {% thumbnail evento.foto "380x250" crop="center" as im %}
                                <img class="upcomming-event__image" src="{{im.url}}" alt="event">
                            {% empty %}
                                <img class="upcomming-event__image" src="http://via.placeholder.com/380x250" alt="event">
                            {% endthumbnail %}
                            <div class="upcomming-event__date">
                                <i class="fa fa-calendar"></i>
                                <span>{{evento.inicio|date:"d N"}}</span>
                            </div>
                        </div>
                        <div class="upcomming-event__text-content">
                            <h4 class="upcomming-event__title"><a href="{% url "agenda-detail" evento.slug %}">{{evento.evento}}</a></h4>
                            <div class="upcomming-event__meta-info">
                                <span class="upcomming-event__time"><i class="fa fa-clock-o base-color"></i>{{evento.hora_inicio|time:"P"}} - {{evento.hora_fin|time:"P"}}  </span>
                                <span class="upcomming-event__place"><i class="fa fa-map-marker base-color"></i>{{evento.lugar}}</span>
                            </div>
                            <p>{{evento.descripcion|truncatewords:"18"|safe|striptags}}</p>
                        </div>
                    </div><!--/.upcomming-event-->
                    {% endfor %}
                    
                </div>
            </div>
            <div class="col-md-5">
                <div class="section-heading">
                    <h2 class="section-title--small wow fadeInUpXsd" data-wow-duration=".7s" data-wow-delay=".1s">ÚLTIMAS <span class="base-color">PUBLICACIONES</span></h2>
                    <div class="section-heading-separator section-heading-separator--left-align wow fadeInUpXsd" data-wow-duration=".9s" data-wow-delay=".1s"></div>
                </div>
                <div class="donation-wrap wow fadeInUpXsd" data-wow-duration=".7s" data-wow-delay=".3s">
                
                    <div class="col-sm-12 col-xs-12">
                        <div class="publicacion-carousel">
                            {% for pub in publicaciones %}
                              <div class="div">
                                <div class="our-causes">
                                    <div class="our-causes__image-wrap">
                                        {% thumbnail pub.imagen "428x463" crop="center" as im %}
                                            <img class="our-causes__image" src="{{im.url}}" alt="event">
                                        {% empty %}
                                            <img class="our-causes__image" src="http://via.placeholder.com/428x463" alt="event">
                                        {% endthumbnail %}
                                    </div>

                                    <div class="our-causes__text-content text-center">

                                        <h4 class=" our-causes__title"><a href="#">{{pub.titulo}}</a></h4>
                                        
                                        <a href="/media/{{pub.archivo}}" class="btn" download>Descargar</a>
                                    </div>
                                    

                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gallery-section section-padding all-text-white lazy" style="display: block; ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2 class="section-title wow fadeInUpXsd" data-wow-duration=".7s" data-wow-delay=".1s">GALLERIA DE <span class="base-color">IMAGENES</span></h2>
                    <div class="section-heading-separator wow fadeInUpXsd" data-wow-duration="1.1s" data-wow-delay=".1s"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center pdb35 wow fadeInUpXsd" data-wow-duration=".7s" data-wow-delay=".3s">
                    <ul class="list-inline filter-options">
                        <li><a href="#!" class="filter-options__item filter btn active" data-filter=".all">Todos</a></li>
                        {% for x in galerias.keys %}
                          <li><a href="#!" class="filter-options__item filter btn" data-filter=".{{x.id}}">{{x}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row wow fadeInUpXsd" data-wow-duration=".7s" data-wow-delay=".3s">
            <div class="col-md-12">
                <div class="row row-eq-height" id="mixitup-grid">

                    {% for x,y in galerias.items %}
                      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 mix {{x.id}} all" style="display: inline-block;" data-bound="">
                        <a href="{% url 'detalle-galerias-img' y.0.id %}" class="gallery-item-no pr  wow fadeInUpSmd cboxElement" data-wow-duration="1.5s" data-wow-delay=".2s" href="#">

                            {% thumbnail y.0.portada "300x160" crop="center" as im %}
                                <img class="gallery-item__photo lazy" src="{{im.url}}" style="display: inline;" alt="">
                            {% empty %}
                                <img class="gallery-item__photo lazy" src="http://via.placeholder.com/300x160" style="display: inline;" alt="">
                            {% endthumbnail %}

                            <div class="loader loder-hide"></div>
                        </a><!--/.portfolio-item-->
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding ash-white-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2 class="section-title--smal">CLÚSTER SEGURIDAD ALIMENTARIA <br><span class="base-color">Y GENERACIÓN DE INGRESOS</span> </h2>
                    <!-- <span class="section-sub-title"></span> -->
                    <div class="section-heading-separator"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="about-us-carousel mb30">
                    <div>
                        <img src="http://www.simas.org.ni/media/cache/f5/66/f566a2ace586ed303e9da62ed3212624.jpg" alt="">
                    </div>
                    <div>
                        <img src="http://www.simas.org.ni/media/cache/8d/a1/8da118cb266a5dce1919f23614a69244.jpg" alt="">
                    </div>
                    <div>
                        <img src="http://www.simas.org.ni/media/cache/ee/6c/ee6c7fb21d4ed1519c9be6e22aad0081.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-us-text-content mb30">
                  {% load flatpages %}
                  {% get_flatpages as flatpages %}
                    {% for page in flatpages %}
                      {% if page.url == '/proposito/' %}
                          <h4>{{page.title}}</h4>
                          <p>{{page.content|safe|truncatewords:'90'}}</p>
                  
                          <a href="{{page.url}}" class="btn base-bg">Leer más</a>
                      {% endif %} 
                  {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section class="volunteer-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2 class="section-title wow fadeInUpXsd" data-wow-duration=".7s" data-wow-delay=".1s">ORGANIZACIONES DEL <span class="base-color">CLÚSTER</span> </h2>
                    <div class="section-heading-separator wow fadeInUpXsd" data-wow-duration="1.1s" data-wow-delay=".1s"></div>
                </div>
            </div>
        </div>
        <div class="row row-eq-rs-height cluster">
            {% for org in contrapartes %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="fund-volunteer text-center wow fadeInUpSmd" data-wow-duration="1.5s" data-wow-delay=".2s">
                    <div class="fund-volunteer__photo-wrap">
                        {% thumbnail org.logo "120x120" crop="center" as im %}
                                <img class="img-circle fund-volunteer__photo" src="{{im.url}}" alt="volunteer">
                            {% empty %}
                                <img class="img-circle fund-volunteer__photo" src="http://via.placeholder.com/120x120" alt="volunteer">
                            {% endthumbnail %}
                    </div>
                    <div class="fund-volunteer__text-content">
                        <h3 class="fund-volunteer__name">{{org.siglas}}</h3>
                        <div class="section-heading-separator section-heading-separator--small"></div>
                        {{org.generalidades|safe|truncatewords:"15"}}
                        <ul class="list-inline round-social-icons mb30">
                          {% for red in org.redes_set.all %}
                          <li><a href="{{red.url}}">
                                <i class="{% if red.opcion == 'Sitio web' %}
                                                fa fa-globe
                                            {% elif red.opcion == 'Facebook' %}
                                                fa fa-facebook
                                            {% elif red.opcion == 'Twitter' %}
                                                fa fa-twitter
                                            {% elif red.opcion == 'Youtube' %}
                                                fa fa-youtube
                                            {% elif red.opcion == 'Google+' %}
                                                fa fa-google
                                            {% elif red.opcion == 'Instagram' %}
                                                fa fa-instagram
                                            {% elif red.opcion == 'Linkedin' %}
                                                fa fa-linkedin
                                            {% elif red.opcion == 'Flickr' %}
                                                fa fa-flickr
                                            {% elif red.opcion == 'Pinterest' %}
                                                fa fa-pinterest
                                            {% elif red.opcion == 'Vimeo' %}
                                                fa fa-vimeo
                                            {% elif red.opcion == 'Otra' %}
                                                fa fa-link
                                            {% endif %}" aria-hidden="true" target="_blank"></i>
                            </a>
                          </li>
                          {% endfor %}
                            
                        </ul>
                        <a href="{% url "detalle-organizacion" org.slug %}" class="btn">Leer más</a>
                    </div>
                </div><!--/.fund-volunteer-->
            </div>
            {% endfor %}
            
        </div>
    </div>
</section>
<section class="testimonial-section section-padding ash-white-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2 class="section-title">Opiniones  del<span class="base-color">Clúster</span> </h2>
                    <div class="section-heading-separator"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="fund-testimonial-carousel">
                  {% for opinion in opiniones %}
                    <div class="fund-testimonial">
                        <div class="fund-testimonial__quote base-bg">
                            {{opinion.opinion}}
                        </div>
                        <div class="fund-testimonial__author">
                            <div class="fund-testimonial__author-image">
                                {% thumbnail opinion.foto "128x128" crop="center" as im %}
                                    <img class="" src="{{im.url}}" alt="">
                                {% empty %}
                                    <img src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/3_avatar-128.png" alt="">
                                {% endthumbnail %}
                                
                            </div>
                            <div class="fund-testimonial__author-text">
                                <h4 class="fund-testimonial__author-name">{{opinion.nombre|upper}}</h4>
                                <span class="fund-testimonial__designation">{{opinion.ocupacion}}</span>
                            </div>
                        </div>
                    </div>
                  {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

