{% extends "base.html" %}
{% load thumbnail %}
{% load el_pagination_tags %}

{% block content %}
<style type="text/css">
.fund-pagination span {
    height: 40px;
    display: inline-block;
    width: 40px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 100%;
    color: #1e3042;
    margin-right: 15px;
}
.filter-options > li > a.active:before {
    bottom: -7px;
    opacity: 0;
}
</style>
<div class="banner-area banner-area--blog all-text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">GALERIA</h1>
                <ul class="fund-breadcumb">
                    <li><a href="/">Inicio</a> </li>
                    <li>Galerias {% if request.path == '/galerias/imagenes/' %}imagenes{%else%}videos{% endif %} </li>
                </ul>
            </div>
        </div>
    </div>
</div>	
<div class="main-content section-padding">
    <div class="container ">
        <div class="row">
            <div class="col-md-3" >
                <aside class="sidebar">
                    <div class="widget widget--category">
                        <div class="widget__heading">
                            <h4 class="widget__title">TEMAS FOROS</h4>
                        </div>
                        <div class="widget__text-content">
                            <ul class="filter-options">
                                <li><a href="#" class="pdr10 filter-options__item filter" data-filter=".todos"><i class="fa fa-tags"></i> Todos</a><span class="post-count">4</span></li>
                                <li><a href="#" class="pdr10 filter-options__item filter" data-filter=".economia"><i class="fa fa-tags"></i> Economia </a><span class="post-count">7</span></li>
                                <li><a href="#" class="pdr10 filter-options__item filter" data-filter=".educación"><i class="fa fa-tags"></i> Educación</a><span class="post-count">5</span></li>
                                <li><a href="#" class="pdr10 filter-options__item filter" data-filter=".mineria"><i class="fa fa-tags"></i> Minería</a><span class="post-count">3</span></li>
                               
                            </ul>


                        </div>
                    </div>
                    
                </aside>    
            </div>
            <div class="col-md-9">
                
                <div class="row row-eq-height" id="mixitup-grid">

                    {% paginate 6 object_list %}
                    {% for object in object_list %}

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mix mix todos economia" style="display: inline-block;" data-bound="">
                            <div class="blog-post gallery-costum">
                                <div class="blog-post__thumbnail-wrap">
                                    {% thumbnail object.portada "380x250" crop="center" as im %}
                                        <a href="{% if request.path == '/galerias/imagenes/' %}{% url 'detalle-galerias-img' object.id %}{%else%}{% url 'detalle-galerias-video' object.id %}{% endif %}">
                                            <img src="{{im.url}}" class="" alt="" width="100%">
                                        </a>
                                    {% empty %}   
                                        <a href="{% if request.path == '/galerias/imagenes/' %}{% url 'detalle-galerias-img' object.id %}{%else%}{% url 'detalle-galerias-video' object.id %}{% endif %}">
                                            <img src="http://via.placeholder.com/380x250" class="" alt="">
                                        </a>
                                    {% endthumbnail %}
                                </div>
                                <div class="blog-post__text-content">
                                    <h4 class="blog-post__title heading-label-four"><a href="{% if request.path == '/galerias/imagenes/' %}{% url 'detalle-galerias-img' object.id %}{%else%}{% url 'detalle-galerias-video' object.id %}{% endif %}">{{object.titulo}}</a></h4>
                                    <div class="blog-post__meta-info">
                                        <span class="small-text"><i class="fa fa-tags base-color"></i>Economia</span>
                                        <span class="small-text"><i class="fa fa-tags base-color"></i>Educación</span>
                                    </div>
                                </div>
                            </div><!--/.blog-post-->
                        </div>

                        
                    {% endfor %}
                </div>
                <div class="fund-pagination mb30">
                    {% show_pages %} 
                </div>
                
            </div>

        </div>
    </div>
</div>

            <!-- <form class="form-horizontal" action='.' method='GET'>
                  <select name="tematica" class="form-control">
                    <option value="">------</option>
                    {% for tema in tematicas %}
                        <option value="{{tema.id}}">{{tema}}</option>
                    {% endfor %}
                  </select>
                  <button type="submit" class="btn btn-success">Consultar</button>
                </form> -->
{% endblock content %}