{% extends "base.html" %}
{% load thumbnail %}
{% load el_pagination_tags %}

{% block content %}
<style type="text/css">
.fund-pagination span {
    height: 40px;
    display: inline-block;
    width: 40px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 100%;
    color: #1e3042;
    margin-right: 15px;
}
.fund-volunteer {
    height: 360px !important;
}
</style>
<div class="banner-area banner-area--events all-text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">Organizaciones</h1>
                <ul class="fund-breadcumb">
                    <li><a href="/">Inicio</a> </li>
                    <li>Lista de Organizaciones</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="main-content section-padding">
    <div class="container">
        <div class="row">  
        {% paginate 6 object_list %}
        {% for object in object_list %}
            <div class="col-md-4 col-sm-12">
                <div class="fund-volunteer text-center wow fadeInUpSmd" data-wow-duration="1.5s" data-wow-delay=".2s">
                    <div class="fund-volunteer__photo-wrap">
                        {% thumbnail object.logo "120x120" crop="center" format='PNG' as im %}
                            <img src="{{im.url}}" class="img-circle fund-volunteer__photo" alt="volunteer">
                        {% empty %}   
                          <img src="http://via.placeholder.com/120x120" class="img-circle fund-volunteer__photo" alt="volunteer">
                        {% endthumbnail %}
                    </div>
                    <div class="fund-volunteer__text-content">
                        <h3 class="fund-volunteer__name">{{object.siglas}}</h3>
                        <div class="section-heading-separator section-heading-separator--small"></div>
                        <p>{{object.generalidades|safe|striptags|truncatechars:130}}</p>
                        <a href="{% url "detalle-organizacion" object.slug %}" class="btn">Leer más</a>
                    </div>
                </div><!--/.fund-volunteer-->
            </div>                  
        {% endfor %}                  
            
        </div>
        <div class="fund-pagination mb30">
            {% show_pages %}
        </div>
    </div>
</div>
{% endblock content %}


   