{% extends "base.html" %}
{% load thumbnail %}
{% load el_pagination_tags %}

{% block content %}
<style type="text/css">
.fund-pagination span {
    height: 40px;
    display: inline-block;
    width: 40px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 100%;
    color: #1e3042;
    margin-right: 15px;
}
.filter-options > li > a:before {
    content: none;
}
</style>
<div class="banner-area banner-area--events all-text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">Publicaciones</h1>
                <ul class="fund-breadcumb">
                    <li><a href="/">Inicio</a> </li>
                    <li><a href="#">Lista de publicaciones</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="main-content section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                
            </div>
        </div>
        <div class="row list-publicaciones"> 
            <div class="col-md-3" >
                <aside class="sidebar">
                    <form class="search-form widget" action='.' method='GET'>
                        <input type="search" placeholder="Buscar" name="buscar" class="form-control search-form__input" {% if q %}value="{{q}}"{% endif %} />
                        <button type="submit" class="search-form__submit"><i class="fa fa-search base-color"></i> </button>
                    </form>
                    <div class="widget widget--category">
                        <div class="widget__heading">
                            <h4 class="widget__title">TEMAS</h4>
                        </div>
                        <div class="widget__text-content">
                            <ul class="filter-options">
                                <li><a href="/publicaciones/" class="pdr10 filter-options__item filter" data-filter=".todos"><i class="fa fa-tags"></i> Todos</a><span class="post-count">{{count_publi}}</span></li>
                                {% for x,y in dic_temas.items %}
                                <li><a href="{% url 'filtro-temas-publi' x %}" class="pdr10 filter-options__item filter" data-filter=".{{x.id}}"><i class="fa fa-tags"></i> {{x}}</a><span class="post-count">{{y}}</span></li>
                                {% endfor %}
                               
                            </ul>


                        </div>
                    </div>
                    
                </aside>    
            </div>
            <div class="col-md-9">
                {% paginate 6 object_list %}
                {% for object in object_list %}
                     <div class="col-md-4 col-sm-12">
                        <div class="div">
                            <div class="our-causes ">
                                <div class="our-causes__image-wrap">
                                    {% thumbnail object.imagen "360x390" crop="center" as im %}
                                        <img src="{{im.url}}" class="our-causes__image" alt="">
                                    {% empty %}   
                                      <img src="http://via.placeholder.com/360x390" class="our-causes__image" alt="" width="100%">
                                    {% endthumbnail %}
                                </div>

                                <div class="our-causes__text-content text-center">

                                    <h5 class=" our-causes__title"><a data-toggle="modal" href='/media/{{object.archivo}}' target="_blank">{{object.titulo}}</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>                  
                {% endfor %}  
                {% if not object_list %}
                    <p>No hay resultados</p>             
                {% endif %} 
                
            </div>
            <div class="fund-pagination mb30">
                {% show_pages %}
            </div>
                        
        </div>
        
    </div>
</div>
{% endblock content %}



